[2015-08-13 09:59] 7sharp9 commented on #472
The error looks familiar, like a missing or miss-installed FSharp.Core.dll.  Do you have FSharp.Core dlls present in the mono installation?

[2015-08-13 10:04] twistedsquare commented on #472
Here are the FSharp.Core.dll files present on the machine; I don't know if they count as in the right location or not:
[code]

[2015-08-13 10:33] dsyme commented on #472
This does look like a mis-installation of Mono and/or F#. I don't think `/usr/lib/cli/fsharp/fsi.exe` should be being run at all. Could you check the location and contents of the `fsharpi` script?

[2015-08-13 12:18] twistedsquare commented on #472
fsharpi lives at `/usr/bin/fsharpi` and contains:

[code]

fsharpc has the same content, but fsc.exe instead of fsi.exe.  I believe I have only installed fsharp from the Ubuntu package and not done anything to alter the vanilla install or install from elsewhere, but I can't remember for sure.

[2015-08-13 12:25] dsyme commented on #472
@directhex may be able to advise.

AFAIK the xamarin packages should write /usr/bin/fsharpi to point to /usr/lib/mono/fsharp/fsi.exe. Could you do some kind of forced reinstall of those packages and see if they are replaced?  The "cli" looks to me like the older Ubuntu packages.

[2015-08-13 12:35] directhex commented on #472
dpkg -l \*fsharp\*

[2015-08-13 12:45] twistedsquare commented on #472
Alrighty.  I ran:

[code]

The middle step got rid of all the mono packages that mono-complete depended on.  Curiously, the content of fsharpi is identical (still runs `/usr/lib/cli/fsharp/fsi.exe`) but now **fsharpi loads without crashing**!  I feel a bit sheepish for not just trying a full reinstall myself earlier, but hopefully this issue may at least provide a paper trial for anyone in the fut

[2015-08-13 12:45] #472 closed

[2015-08-13 12:47] directhex commented on #472
@twistedsquare sounds like you had the old 3.1.x libfsharp-core4.3-cil package, since the paths you were missing were introduced in 4.0.0.3-0xamarin1

[2015-08-13 13:05] knocte commented on #472
@directhex shouldn't the installation of the xamarin packages be an updated version of the ones supplied  by the distro? AFAIU this way the package would be upgraded, instead of being able to install it in parallel by mistake, leading to conflicts.

[2015-08-14 17:02] dsyme opened #475 "Speed up build by using signed FSharp.Core by default"
The build has become quite slow because it rebuilds various FSharp.Core (with different version numbers) for different PCL profiles, and also ones for previous editions of F#. That means FSharp.Core gets compiled something like 12 times.

We can speed this up by just assuming that FSharp.Core hasn't been changed and using signed the copies provided by Microsoft in lib/bootstrap/signed, if a flag i

[2015-08-21 08:11] s-trooper opened #476 "Slow compiler in FSharp.Compiler.Tools 4.0.0.1"
Hi, i am on the Win7 x64 and just tried FSharp.Compiler.Tools from nuget. The F# Compiler F# 4.0 (Open Source Edition) is nearly 3x slower then Microsoft (R) F# Compiler version 14.0.23020.0 with "hello world" console app.

[code]

[code]

main.fs
[code]

[2015-08-21 08:37] enricosada commented on #476
can you try ngen the compiler from nuget?

[code]

[2015-08-21 08:54] s-trooper commented on #476
that's it, thanks! it is one good practice to ngen all dont.net exe's that one get? i never do that :(

[code]

[code]

[2015-08-21 08:54] #476 closed

[2015-08-21 12:18] enricosada commented on #476
ngen should improve performance (or startup at least), but depends. with fsc helps usually

[2015-08-24 17:59] dmitry-a-morozov opened #477 "Conditional breakpoints don't work in VS 2015 for reference types when target is x86/Any CPU"
It works for value types bindings. I tried int and float.
But fails for reference types - I tried string and record type with property of type int.
It happens only for x86/Any CPU (which defaults to x86) targets.

![image](https://cloud.githubusercontent.com/assets/3004037/9447935/adfc2d30-4a4e-11e5-93af-0a51cceae75e.png)

[2015-08-24 18:39] dmitry-a-morozov opened #478 "incorrectly reported unused variables inside query expressions"
[code]
With --warnon:1182 specified compiler complains "warning FS1182: The value 'x' is unused"
It happens both in VS 2013 and 2015

[2015-08-25 08:06] wallymathieu opened #479 "Discriminated union type in order to be able to write exception free code in f#"
In order to be able to write code that you can easily consume that does not throw an exception. @wastaz mentioned that chessie declares:

[code]

[2015-08-25 08:17] enricosada commented on #479
hi @wallymathieu, the requests of new features are tracked in https://fslang.uservoice.com/ not the github repo, can you open a new suggestion there? /cc @dsyme

Btw this repo is for cross platform packaging, the contributions to f# library/tools/compiler are managed in https://github.com/Microsoft/visualfsharp

[2015-08-25 08:36] enricosada commented on #478
duplicated of Microsoft/visualfsharp#422

@dmitry-a-morozov Language issues should be entered and fixed at http://github.com/Microsoft/visualfsharp. Any fixes/updates will then be integrated into this repo. See http://fsharp.github.io/2014/06/18/fsharp-contributions.html for a guide

[2015-08-25 08:42] enricosada commented on #477
Hi @dmitry-a-morozov , visual studio issues should be submitted and fixed in the https://github.com/Microsoft/visualfsharp repo, can you create a new issue there?

This repo is for cross platoform packaing, see http://fsharp.github.io/2014/06/18/fsharp-contributions.html for a guide

[2015-08-25 18:34] #478 closed

[2015-08-25 18:55] wallymathieu commented on #479
@enricosada the signature of the Result type looks better. I've added the suggestion: https://fslang.uservoice.com/forums/245727-f-language/suggestions/9484395-discriminated-union-type-in-order-to-be-able-to-wr

[2015-08-26 07:22] jamesjrg opened #480 "Partially applied async function hangs when compiled in release mode"
Using .NET 4.5, F# 3.1, F# Core 4.3.1.0, Visual Studio 2013, Windows 8.1

This program hangs when compiled as Release, but not when compiled as Debug, not sure if it is a bug or if I just misunderstand something:

[code]

[2015-08-26 08:03] enricosada commented on #480
Hi @jamesjrg , language/core library issues should be submitted and fixed in the https://github.com/Microsoft/visualfsharp repo, can you create a new issue there?

This repo is for cross platform packaging, see http://fsharp.github.io/2014/06/18/fsharp-contributions.html for a guide

I can repro the bug.

Only an info: i see an empty main

[code]

shouldn't be

[code]

instead? You are executing t

[2015-08-26 08:13] larsw opened #481 "eprintfn / printfn (stderr/stdout processing precedence) discrepancy on Linux"
Hi,
 Ref. the folloing gist: https://gist.github.com/larsw/235e4a35c1470e575eee
 Is this behavior well known and a result of the underlying terminal subsystem in Linux?

[2015-08-26 08:16] jamesjrg commented on #480
Sorry, I've now moved the issue to the other project. If the async function is run in the main method then it no longer hangs, but as I understand things it should also be possible to have it in the module initialization code without hanging the program.

[2015-08-26 08:20] enricosada commented on #480
Sure, thx @jamesjrg . i was trying to write a workaround

ref Microsoft/visualfsharp#604

[2015-08-26 09:55] bjartwolf commented on #481
![onwindows](https://cloud.githubusercontent.com/assets/1174441/9490601/4027a7d4-4be9-11e5-9a78-04691a044c70.png)
Tried the same code on Windows, where it prints in the expected order.

[2015-08-26 20:28] wyoung opened #482 ""automake" 2.69 requirement for OS X should be "autoconf""
On the project home page, it claims you need "automake 2.69" to build on OS X, but there is no such thing. It clearly means autoconf 2.69.

[2015-08-31 06:16] daniel-chambers opened #483 "Call to Type.GetType for a missing type causes FSI on Mono to produce an erroneous error"
Not sure whether to post this here or over on the VisualFSharp repo, but it's to do with F# on Mono, so I'll try here first. Please let me know if you'd like me to move it.

Given the following `Reflection.fsx` script:

[code]

on Mono if you run `fsharpi Reflection.fsx` you get the following output:

[code]

whereas on Windows using .NET fsi (`fsi Reflection.fsx`) you get the expected behaviour a

[2015-08-31 06:35] daniel-chambers commented on #483
It's worth mentioning if you compile the same code as an exe with fsc and run that on Mono, it works as expected with no errors.

[code]
[code]

[2015-08-31 07:13] 7sharp9 commented on #483
Looks like your missing a #r reference in the script.  Presumably in the fsproj you will have a dll reference.

[2015-08-31 07:25] daniel-chambers commented on #483
The point is that there is no #r, and there should not be. Type.GetType returns null if the type was not found, but in FSI on Mono it also causes an error, which isn't right.

We #r in a third party assembly, which uses Type.GetType internally to test for the presence of log4net; if it exists it uses it, if not, it doesn't. Their normally safe type test causes our code to crash in Mono FSI, which

[2015-08-31 07:31] 7sharp9 commented on #483
Reference resolution differs between windows and mono, you need a #r or #i for mono.

[2015-08-31 07:42] daniel-chambers commented on #483
I'm afraid don't understand what you mean. `Type.GetType` is _supposed_ to return null if the type cannot be found or loaded. No error is supposed to be raised. (See [MSDN spec][1])

If the behaviour was actually different between Mono and Windows I would expect the exe version of the same code to fail in the same way on Mono. It does not; indeed it runs as expected, returning null and not failing

[2015-08-31 07:59] 7sharp9 commented on #483
The behaviour of reference resolution in **fsi** differs between windows and mono.   In Windows fsi will use msbuild to try and figure out a reference path, in mono it will use a simple path.

[2015-08-31 09:08] daniel-chambers commented on #483
I think we might be talking cross purposes here; it's my fault, I backwards named the "exists" variable in the examples above (fixed, you might want to look at them again, sorry).

The reference is not loaded on Windows, nor on Mono as it (correctly) cannot be found on either platform. This is intentional; the library that tries to load log4net will simply not use it if it is not found (ie if GetT

[2015-08-31 13:01] s-trooper opened #484 "reference resolution bug/differences"
MS F# Compiler work but Open Source Edition don't. I got same error in a MSBuild (VS2015) Project that i resolved by adding  "System 4.0.0.0" to references, thus i suppose MS fsc has "System 4.0.0.0" added by default but OCE fsc don't:

[code]

[code]

test.fsx
[code]

[2015-08-31 13:26] rneatherway commented on #483
I think you are both coming at the same issue from different angles. I agree with @daniel-chambers that a `#r` is not required here, as the resolution should be permitted to fail, but the difference in behaviour *is* almost certainly due to the fact that FSI reference resolution differs on Windows and Mono.

FSI installs a backup assembly resolution handler to be used if the standard resolution fa

[2015-09-01 13:19] haf opened #485 "F#4.0 interactive: Method 'FSharpAsync.AwaitTask' not found"
I'm getting this error message:

[code]

According to the stack trace, this fsharp-repo commit is being used: https://github.com/fsharp/fsharp/commit/1f79c04

Repro is this code base: https://github.com/haf/suave-presentation.2015-09-03/commit/ee7b3d71fb04eb4466010dc9ba6142b0de2ad051

 1. d/l code base
 1. pushd public && npm install
 1. popd
 1. mono paket.bootstrapper.exe
 1. mono paket.exe inst

[2015-09-01 14:10] 7sharp9 commented on #485
Does that version of mono have F#4?

[2015-09-01 15:07] 7sharp9 commented on #485
I think the first F#4 in mono begins with #a89330f

[2015-09-01 15:13] 7sharp9 commented on #485
As far as I know mono 4.4 release will have F#4 support, unless you build mono yourself.

[2015-09-01 16:33] haf commented on #485
This issue is that I can't run F# 4.0 on mono despite fsharpi telling me I should be able to. Is fsharpi wrong? Doesn't fsharpi load the assemblies by the side of what it's implemented in itself?

[2015-09-01 19:35] simendsjo opened #486 "Exception raised during pretty printing."
[code]

Using VS 2013 with Visual F# 3.1.2, fsi 12.0.30815.0 and .NET 4.5.1 (I'm actually marking code in an `.fsx` file in the project folder and choosing run in interactive. No idea if the interactive shell in VS uses that .NET version). I get the same error running in 32-bit and 64-bit mode in the FSI.

I have just started looking at F#, so please give some details if you need more information

[2015-09-01 19:54] haf opened #487 "Exception raised during pretty printing"
[code]

When trying to pretty-print the reflected constructor factory here https://github.com/haf/EventStore.Client.FSharp/blob/master/src/EventStore.ClientAPI.FSharp/EventStore.Client.FSharp.fs#L586

Running on Mono, same env as [here](https://github.com/fsharp/fsharp/issues/485)

[2015-09-01 20:03] latkin commented on #486
Please open this at http://github.com/microsoft/visualfsharp, that is where core compiler/runtime issues are tracked and addressed.

If you could provide a minimal self-contained repro with code that would be very helpful.

[2015-09-01 20:10] haf opened #488 "F# interactive reflection null error"
In the same code as in the previous issue, no #487 , in this code: https://github.com/haf/EventStore.Client.FSharp/blob/master/src/EventStore.ClientAPI.FSharp/EventStore.Client.FSharp.fs#L128

I have this interactive session:

[code]

So as you can see, when I invoke `emptyCtor`, I get the uninitialised object instance, but when I do it with the `emptyCtor` inside the other, I get null back.

(The

[2015-09-03 11:53] dsyme commented on #488
Is it possible to simplify the repro for this please? Just down to a single piece of code.  And is this on Linux with Mono or Windows with .NET?

[2015-09-03 11:54] dsyme commented on #486
Closing as this belongs at http://github.com/microsoft/visualfsharp (this repo is for cross-platform issues)

[2015-09-03 11:54] #486 closed

[2015-09-03 11:57] dsyme commented on #485
What's the output from fsharpi?  The above seems to say Mono 4.0, but that doesn't mean F# 4.0 (Mono 4.4 has F# 4.0, Mono 4.0 has F# 3.1)

[2015-09-03 11:58] dsyme commented on #483
Labelling this as a behaviour divergence bug

[2015-09-03 11:59] haf commented on #485
I was thinking the flag `--noframework` – and then `#r "FSharp.Core"` – or is it by design that fsharpi should not be able to load other versions of FSharp.Core than what it's been compiled with?

[2015-09-03 12:00] dsyme commented on #484
this is a known issue, see #307 and #113.  It should indeed be fixed

[2015-09-03 12:00] dsyme commented on #484
Closing this as it is a duplicate

[2015-09-03 12:00] #484 closed

[2015-09-03 12:01] dsyme commented on #485
Correct, it can't load other versions (though does binding redirects to the FSharp.Core being used where necessary)

[2015-09-03 12:03] haf commented on #485
So in this case, I'm loading a lib depending on F# 4.0 into fsharpi compiled with F# 3.1; should fsharpi add a binding redirect to 3.1 (then it shouldn't crash), or can binding redirects only be from lower versions to higher versions?

[2015-09-03 12:03] haf commented on #485
This is Mono 4.0.3 on OS X by the way.

[2015-09-03 14:37] dsyme commented on #481
Yes, IIRC the output of a new line will flush stdout/stderr.  But in any case, AFAIK this isn't something related to F# specifically - the same differences would, I think, appear with Write/WriteLine for .NET.

[2015-09-03 14:37] dsyme commented on #481
Closing as I don't think this is an F# bug, just a x-plat difference in how output is handled.

[2015-09-03 14:37] #481 closed

[2015-09-03 14:38] #479 closed

[2015-09-03 14:38] #477 closed

[2015-09-03 14:39] dsyme commented on #487
Could you give a repro in a single gist please? thanks

[2015-09-03 14:42] dsyme commented on #485
It does seem that the bug mentioned here (missing AwaitTask) could happen if you are down-binding 4.4.0.0 to 4.3.1.0.  In any case, that wouldn't be a valid scenario.  If you are using a library depending on FSharp.Core 4.4.00 you should consume it using fsharpi/fsi.exe for  4.0.  What library are you depending on, and is there any reason for it to have a dependency on FSharp.Core 4.4.0.0?  The [r

[2015-09-03 14:42] dsyme commented on #485
(Closing as I don't think this is an F# bug, please reopen if necessary)

[2015-09-03 14:42] #485 closed

[2015-09-03 14:42] dsyme commented on #482
closing - the docs now mention autoconf

[2015-09-03 14:43] #480 closed

[2015-09-03 14:50] haf commented on #485
Thanks, that's a good exhaustive answer.

[2015-09-03 16:36] wyoung commented on #482
Sorry to be difficult, but it isn't autoconf/automake 2.69. The version numbers are not synchronized: the current versions are autoconf 2.69 and automake 1.15.

I suppose it should say, "OS X no longer ships with autoconf and automake, which are needed to build F# from the git repository. To install them from Homebrew, say "brew install autoconf automake". "

[2015-09-04 10:21] dsyme commented on #482
Hi @wyoung - can you send a PR to README.md for that please?  Thanks

[2015-09-04 11:35] ismail opened #489 "Build is not possible without internet access"
In openSUSE Build Service (http://build.opensuse.org) our build machine have no internet access and starting with fsharp 4.0 its no longer seems to be possible to build without internet access, see:

[...]
                Executing: mono --runtime=v4.0.30319 /home/abuild/rpmbuild/BUILD/fsharp-4.0.0.3/src/fsharp/FSharp.Build-proto/../../../.nuget/NuGet.exe restore packages.config -PackagesDirectory

[2015-09-04 11:46] dsyme commented on #489
Can you try a patch that excludes that line (e.g. conditionally on some environment variable that indicates the build is an opensuse build)?

[2015-09-04 11:49] ismail commented on #489
Sure, if you can tell me where to look for.

[2015-09-05 07:38] ismail commented on #489
We workarounded this with https://build.opensuse.org/package/view_file/Mono:Factory/fsharp/use-internal-nunit.patch

[2015-09-05 07:38] #489 closed

[2015-09-05 23:40] wyoung commented on #482
Done: https://github.com/fsharp/fsharp/pull/490

[2015-09-05 23:40] #482 closed

[2015-09-11 14:12] stathissideris opened #491 "Crash when using generic function in F# interactive"
If I evaluate the following 2 lines one after the other on F# Interactive for F# 3.1 (Open Source Edition) via Xamarin Studio 5.9.5 (build 10) on OSX 10.10.2.

[code]

I get this crash:

[code]

[2015-09-11 15:25] martintrojer commented on #491
I can replicate this bug with this setup (https://hub.docker.com/r/geoder101/fsharp/);

[code]

[2015-09-11 19:23] dsyme commented on #491
Could you try Mono 4.0.4 SR 4 (4.0.4.1) from http://www.mono-project.com/download/? Thanks

[2015-09-12 00:04] stathissideris commented on #491
Same with:

[code]

[2015-09-13 22:42] royalstream commented on #391
I wouldn't be so sure, installing Xamarin is pretty common for the average user (32bit mono). At the same time having to deal with native libraries which require 64bit mono is not that uncommon either.

I may be a seasoned F# developer on Windows but regarding Mono/Mac I'm a total newbie and if this issue happened to me, I'm sure it's happening to many newcomers out there.

[2015-09-13 23:29] 7sharp9 commented on #391
With no official 64bit OSX on mono this is always going to be fiddly IMHO.  I've never had a working 64bit build due to various 32bit dependencies in Xamarin Studio.

Hopefully a full 64bit mono and Xamarin Studio in the future will make this experience better on OSX.

[2015-09-14 11:48] dsyme commented on #491
Please enter a bug at https://bugzilla.xamarin.com/, and paste the link into this thread

thx

[2015-09-14 15:55] stathissideris commented on #491
Sorry, but which project should I raise it against?

[2015-09-15 16:01] dsyme commented on #491
Mono Runtime, thanks

[2015-09-15 16:28] stathissideris commented on #491
Raised here: https://bugzilla.xamarin.com/show_bug.cgi?id=33972

[2015-09-17 08:55] dsyme commented on #491
This has been marked as a duplicate of https://bugzilla.xamarin.com/show_bug.cgi?id=33280, and resolved fixed, the fix is reportedly in Mono 4.2

[2015-09-17 08:55] #491 closed

[2015-09-23 21:45] kumpera commented on #427
This works with 4.2

[2015-09-30 18:19] eloraiby opened #493 "A lot of shift/reduce errors in pars.fsy and *.fsy files"
Hi,
Is it normal to have all these shift/reduce errors in the grammar file (pars.fsy) ?

[code]

[2015-10-02 12:39] dsyme commented on #493
While not desirable, it's been like this for a long time.  We reviewed this a while back and essentially all the conflicts stem from error recovery (uses of "error" and "recover") in the grammar implementation, where there seems to be inherent ambiguity.  The remaining few issues were checked carefully.

[2015-10-02 12:39] #493 closed

[2015-10-02 12:59] dsyme opened #494 "Task: Integrate visualfsharp --> fsharp --> FSharp.Compiler.Service"
As [mentioned on twitter](https://twitter.com/dsyme/status/649741044519694339).  One of the tasks of the F# core engineering group is to regularly integrate from http://github.com/Microsoft/visualfsharp --> http://github.com/fsharp/fsharp --> http://github.com/fsharp/FSharp.Compiler.Service, and also to publish new nuget packages for FSharp.Compiler.Service.

This issue is opened to cover this ins

[2015-10-02 16:59] Andrea commented on #494
I am Andrea here (not silverspoon) you can find me as Andrea BatCat on skype, Monday is better for me (great if around lunch time)

[2015-10-02 20:27] baronfel commented on #494
I DM'd my info to Don, but I can be available Saturday or Monday.  I'm on GMT-6 and am flexible with my hours.

[2015-10-03 06:24] rojepp commented on #494
I also DM'd Don. Today is better for me, packed schedule on Monday. Please record it anyway, if possible. :)

[2015-10-03 12:44] haf commented on #464
I'm getting these errors on the Alea GPU framework, see referenced issue.

[2015-10-03 18:18] dsyme commented on #494
Thanks everyone.  Today has slipped by, I'll aim to do this on Monday. We'll leave full instructions one way or another :)

[2015-10-05 00:40] brodyberg commented on #494
Available Monday - Pacific time though. Happy to adjust if possible. Also available through the week.

[2015-10-05 09:03] fromeroj commented on #494
Ok, waiting for updates.

[2015-10-05 15:42] mmv opened #496 "SqlDataConnection TypeProvider can't handle databases with tables having X and _X columns"
Create a database where a table exists that has both a column named `something` and a column named `_something`. In this case the type provider will not work.

Apparently some class in a generated temporary CS file will contain two fields named `_something`, which is invalid.

[2015-10-05 20:09] dsyme commented on #494
Some personal things came up today, I'll aim to do this Tuesday. I suggest 5pm BST.

[2015-10-05 21:34] fromeroj commented on #494
It is good for me. Cheers.

[2015-10-05 21:43] brodyberg commented on #494
Works for me.

[2015-10-06 11:30] Andrea commented on #494
can you add a link, I might or might not be able to make it (I m travelling
at the moment)

Andrea
www.roundcrisis.com

On 5 October 2015 at 22:44, Brody Berg <notifications@github.com> wrote:

[2015-10-06 12:32] rojepp commented on #494
Ditto, I probably won't be able to make it.

[2015-10-06 15:37] dsyme commented on #494
Make that 1715 BST, I'll ping the skype ids I have :)

[2015-10-06 16:57] dsyme opened #497 "Consider moving appveyor CI to VS2015"
The Microsoft/visualfsharp repo does automated builds using VS2015.

    os: Visual Studio 2015

We should consider when to move this repo to do the same.

[2015-10-06 17:41] baronfel commented on #494
minor suggestion:

Skype doesn't have a recording feature natively, but it's possible and easy to create a google 'hangout on air' that has screen sharing and is recorded/backed up to YouTube automatically.  It also has a nice feature where you can choose only one or more apps to share the screen of, or your entire desktop.

Just an idea, since these meetings are valuable and may contain informati

[2015-10-06 18:43] baronfel commented on #494
I took some notes from the screencast below, and Fabian suggested I share them.  Enjoy:

## notes for migration from microsoft/visualfsharp => fsharp/fsharp

# Things that are removed
* all tests under tests/fsharpqa
	* though there are some binaries that are left (long term remove these?)
* delete everything under vsintegration/
	* these are the VS IDE integrations, not needed for the xplat repos

[2015-10-06 18:53] baronfel opened #499 "Investigate building on multiple machine configurations/mono versions using Travis"
Don mentioned wanting to set up some sort of build matrix for OSX and Linux on Travis.

It looks like there is a beta Travis CI feature to specify an OS, using

[code]

This variable can be referenced in our build invocation scripts by using $TRAVIS_OS_NAME

And you can even specify mono versions using

[code]

[2015-10-06 18:53] rojepp commented on #494
Great notes, Chester, thanks!

tis 6 okt 2015 20:44 Chester Husk III <notifications@github.com> skrev:

[2015-10-06 21:03] dsyme commented on #494
Cool notes, thanks! Could you please add a version of those via a PR to https://github.com/fsharp/fsharp/blob/master/README.md#development-notes?  Perhaps also update the CI notes there too?

[2015-10-06 21:07] baronfel commented on #494
Certainly.  I'll send a PR later tonight or tomorrow.

[2015-10-06 21:10] dsyme commented on #494
As an aside, the following long-term tasks were discussed too

* light up more of the fsharpqa tests on Mono
* light up more of the fsharp tests on Mono
* Don said [this eliding](https://github.com/fsharp/fsharp/blob/73d3e3afbc3df7f11f89f93db72bb2accad24cd5/tests/fsharp/core/run-all.fsx#L131) was indicative of some Mono bugs and that he had trimmed them down to minimal repros.  I'm trying to find

[2015-10-06 21:11] dsyme commented on #494
@baronfel Super.  If you want to reorganize the README.md material in anyway (e.g. separate DEVGUIDE.md or the like) then feel free to do so in the PR

[2015-10-08 06:42] martindemello opened #501 "building fsharp with git mono parallel build environment hangs on nuget restore"
F# compiles and builds fine against the mono installed from ubuntu, but when I installed mono from git (since the version available on ubuntu is pretty old), and set up the parallel build environment as detailed in http://www.mono-project.com/docs/compiling-mono/parallel-mono-environments/ it fails to build.

Compiling fsharp hangs at the following point:

[code]

and strace shows

[code]

mono ve

[2015-10-09 01:56] rschmitt commented on #488
Which version of F# did you run this session on? I can't reproduce this on OS X using the latest HEAD build of fsharp.

[2015-10-09 09:52] haf commented on #488
It may be problems with FSharp.Core nuget...

[2015-10-10 01:24] naveensrinivasan opened #502 "fsharpi crashes on El Capitan"
The fsharpi crashes on my mac  within Xamarin Studio
[code]

Here is the content of fsharpi
[code]

It works perfectly fine on the terminal.

Any clues as to what could be wrong?

[code]

[2015-10-10 03:25] adamchester commented on #502
Same issue here. Appears to be related to recent El Capitan changes.

When I start `XamarinStudio` from the terminal (with `fsharpc` and `fsharpi` on the `PATH`), the F# interactive works.

[2015-10-11 22:34] WilliamBerryiii opened #506 "Punctuation & Comment Standardization"
I've been spending some time reading through the code base and have notices quite a few style inconsistencies in the comments.  I would like to offer up time to go through the code and apply some common rules to bring the comments toward a more unified style.  I don't want this effort to be seen as a new mandate that comments need to follow specific guidelines, but rather just maintenance being do

[2015-10-11 23:41] naveensrinivasan commented on #502
Thanks  :+1:  That worked! I am trying to look for a more permanent solution.

[2015-10-12 06:29] WilliamBerryiii commented on #506
Closing and moving to visual f# repo

[2015-10-12 06:29] #506 closed

[2015-10-13 17:46] Andrea commented on #494
it would be awesome to know if there are other things to do what are those? and or if we should have another Skype session

[2015-10-13 18:07] dsyme commented on #494
I'll open a few github "Task" issues :)

[2015-10-13 18:12] dsyme opened #507 "Task: Enable more testing on Mono"
The testing run on Mono is limited to  what's in travis.yml, i.e.
- bootstrap
- compile and run a script run-opt.sh which includes many of the fsharp\core tests, but not all
- compile a lot of projects from various sources.

This could be improved, e.g.
- run more tests from fsharp\core
- run the FSharp.Core NUnit unittests DLL. This gets [built](https://github.com/fsharp/fsharp/blob/master/.travi

[2015-10-13 20:15] dsyme commented on #494
@Andrea there is this one: https://github.com/fsharp/fsharp/issues/499 :)

[2015-10-13 20:24] rojepp commented on #496
This PR should probably be directed at [visualfsharp](https://github.com/Microsoft/visualfsharp). Changes flows from there to here. Changes targeted at improving cross-platform issues should go here.

[2015-10-13 23:15] dsyme commented on #496
Yes agreed.  Closing this here, please reopen in Microsoft/visualfsharp.

[2015-10-13 23:15] #496 closed

[2015-10-14 09:54] Andrea commented on #494
nice, I'll try linux as I don't apple :D

Andrea
www.roundcrisis.com

On 13 October 2015 at 21:15, Don Syme <notifications@github.com> wrote:

[2015-10-23 14:59] haf commented on #451
This issue should be closed because it's been fixed by @rneatherway et al in Homebrew.

[2015-10-23 15:10] haf opened #508 "Improving fsharpi"
I'm sorry if this is not the right place to address this. If you would like me to move this discussion, I can, just tell me where.

The issue is that fsharpi is pretty annoying to work with. I've used other repls; mostly rbi and clojure's, so that's what I'm comparing with:
- CTRL+L doesn't scroll/clear the buffer
- CTRL+A doesn't move the cursor to the first char of the current edit-line
- CTRL+W

[2015-10-23 15:31] rneatherway commented on #451
Right, fixed by https://github.com/Homebrew/homebrew/issues/36286

[2015-10-23 15:31] #451 closed

[2015-10-23 17:13] 7sharp9 commented on #508
We can fix some of those things in the fsi pad in XS, we just added syntax highlighting for example.

The stand alone fsharpi I is pretty clunky by todays standards, almost every language has a better repl.

I do have a partially completed new repl that Ive been working on with some modern features...

[2015-10-23 17:20] yever commented on #508
Regarding the last point, I made a [suggestion](https://fslang.uservoice.com/forums/245727-f-language/suggestions/10100028-fsi-execute-without-evaluation-by-pressing-enter) on "F# Language Design User Voice" to allow quick evaluation of chunks that evaluate to unit with ENTER.

I didn't get any response there (I admit it wasn't very succinct). This would allow to use FSI as an interactive shell to

[2015-10-28 18:36] fwaris opened #509 "error FS0193: internal error: Object reference not set to an instance of an object."
The error can be reproduced by running the following two lines (need sql server installed):

#r @"C:\Program Files (x86)\Microsoft SQL Server\120\SDK\Assemblies\Microsoft.AnalysisServices.DLL"
let s = new Microsoft.AnalysisServices.Server()

Basically the 'printing' system cannot handle the layout for "s" above.

The workaround for now is to add a custom printer:
fsi.AddPrintTransformer(fun (s:Mic

[2015-10-28 18:44] fwaris commented on #509
I have been able to find that the following line (sformat.fs line 543) is the issues because the value "text" is null:

                        let layout = Leaf(jl,(text :> obj),jr)
                        let textWidth = text.Length

What I am not sure about is why this is so where the fix should go.

[2015-10-28 19:52] rojepp commented on #509
@fwaris I tried to reproduce, but I didn't have that assembly on my computer.  From eye-balling the code, it looks like the only way to get a null in `text` here is if `Microsoft.AnalysisServices.Server.ToString()` returns null, but that seems way too weird. What gets returned if you call `s.ToString()`? Could any of the other vars be null here?

[2015-10-28 20:03] rojepp commented on #509
Hah, `s.ToString()` does return null. Sweet. :)
I guess a null check should go in https://github.com/fsharp/fsharp/blob/master/src/utils/sformat.fs#L1197 ? It should be fine to return the empty string when ToString() returns null?

[2015-10-28 20:05] rojepp commented on #509
Could you move the issue to https://github.com/Microsoft/visualfsharp and submit a fix there? It will flow here eventually.

[2015-10-28 20:30] dsyme commented on #509
Yes please - thanks @fwaris

[2015-10-28 20:30] #509 closed

[2015-10-28 21:43] rojepp commented on #509
@fwaris Will you do this? If not, let me know. Thanks.

[2015-10-29 09:31] rojepp commented on #509
This issue was moved to Microsoft/visualfsharp#706

[2015-10-30 23:39] bryanedds opened #510 "Unions with 4 or more cases silently fail to utilize UseNullAsTrueValue."
Repro. case in F# 4.4.0.0 -

[<CompilationRepresentation (CompilationRepresentationFlags.UseNullAsTrueValue)>] type T = A | B of int | C of int | D of int;;
A;;

In F# interactive, here you'll see that A is a proper value, which is not desired.

[<CompilationRepresentation (CompilationRepresentationFlags.UseNullAsTrueValue)>] type T = A | B of int | C of int;;
A;;

In F# interactive, here you'll s

[2015-11-02 11:06] enricosada commented on #510
hi @bryanedds , this repo is for cross platoform packaing ( see http://fsharp.github.io/2014/06/18/fsharp-contributions.html for a guide) can you create or move this issue to [Microsoft/visualfsharp](https://github.com/Microsoft/visualfsharp) repository?

About this issue, there is a constant [UnionReprDecisions.TaggingThresholdFixedConstant](https://github.com/Microsoft/visualfsharp/blob/2d413fb9

[2015-11-04 14:54] bryanedds commented on #510
Issue moved to - https://github.com/Microsoft/visualfsharp/issues/711

[2015-11-04 14:54] #510 closed

[2015-11-07 10:38] Heather opened #511 "can't build core on windows"
log:

[code]

[2015-11-16 02:08] naveensrinivasan opened #512 "fsharp not available in homebrew"
I tried `brew install fsharp` I got response No available formula with the name "fsharp"

[code]

Then I used `brew install mono` which got me fsharp.

[2015-11-17 10:25] enricosada commented on #508
@haf great idea, fsi really need some love.

I'd like to help, can we chat about it? maybe a better place is visualfsharp repo.

I think instead of improve fsharpi directly, we should create a standalone library for a "interactive terminal ui", without f# code evaluation.
We can ask for help in the community, contribution is going to be easier that full fsharpi because we leave out the eval

We ca

[2015-11-17 12:10] haf commented on #508
@enricosada If you want to chat, you could add h.feldt on skype and we can decide a time. Towards weekends is normally when my schedule allows me indulgences like this ;)

[2015-11-17 13:43] dsyme commented on #508
The list of things mentioned by @haf at the top of this thread seem appropriate contributions for this repo.  You could also propose them for Microsoft\visualfsharp (and especially for CoreCLR fsi) but I think they are specifically associated with *nix so can be submitted here first.

For more sophisticated super-repl features you might like to start a new greenfield project built on FSharp.Compil

[2015-11-17 16:17] inosik commented on #512
There were some issues with `.props` and `.targets` files, so the F# package comes with mono now.

It used to be a separate package until one or two months ago.

[2015-11-18 11:53] rneatherway commented on #512
@naveensrinivasan did you see instructions somewhere to install an 'fsharp' formula? As @inosik says, I've merged the fsharp and mono formulas together.

[2015-11-18 12:11] naveensrinivasan commented on #512
@rneatherway Thanks. Would we want to remove the fsharp from the brew.

[2015-11-18 12:12] rneatherway commented on #512
I don't quite understand the question. What are you asking exactly?

[2015-11-18 14:47] naveensrinivasan commented on #512
I meant this option `brew install fsharp` shouldn't be available in brew going forward. It was suggestion.

[2015-11-18 14:47] #512 closed

[2015-11-18 15:03] rneatherway commented on #512
Well, it isn't available, that's what the error message told you. If you put any random string there you will get the same message.

[2015-11-19 19:55] enricosada commented on #508
@haf sent request in skype

[2015-11-19 21:27] 7sharp9 commented on #508
I think everything needed is in FCS, anything I needed for Xamarin sketches I added to FCS anyway :-)

A green field project is the way to go I reckon.

[2015-11-24 21:32] dsyme commented on #499
See 500

[2015-11-24 21:32] #499 closed

[2015-11-24 21:32] dsyme commented on #502
Any idea what changes we need to make?

[2015-11-24 21:36] dsyme commented on #501
This sounds like a Mono bug.  Could you check again against Mono master and if it still hangs add a bug on the Mono/xamarin bugzilla database please?

[2015-11-24 21:37] dsyme commented on #494
Closing for now (though the integration needs to be done again)

[2015-11-24 21:37] #494 closed

[2015-11-25 04:51] andrew-vandenbrink opened #514 "FSharp.Core.sigdata and FSharp.Core.optdata missing with vs 2015 installation"
I have 2 laptop,
On the first laptop, I install visual F# tool and then I execute fsc.exe from my application. it works well.
On the second laptop, I don't install visual F# tool. Executing fsc.exe from my application will give error.
- First error, missing FSharp.Core, fixed by putting FSharp.Core along side with fsc.exe folder
- Second error, missing  FSharp.Core.sigdata and FSharp.Core.optdata,

[2015-11-25 07:07] andrew-vandenbrink commented on #514
Sorry, its fsi.exe

[2015-11-25 07:30] andrew-vandenbrink commented on #514
Found the  FSharp.Core.sigdata and FSharp.Core.optdata if I install FSharp.Core via nuget.

[2015-11-25 07:30] #514 closed

[2015-11-25 23:58] naveensrinivasan commented on #502
This is not an issue any more. It has been fixed in the mono 4.2.1
[code]

[2015-11-25 23:58] #502 closed

[2015-11-26 20:46] dsyme commented on #502
Thanks for the update!

[2015-11-30 15:24] baronfel commented on #507
I think the first step in this should be to create windows and osx/unix runners for the nunit tests that @enricosada has introduced, and then we can more easily add tests in the areas you specify above to that suite.  Plus then we can add those test runs to the CI builds to gain more confidence in the build.

[2015-11-30 15:26] enricosada commented on #507
i'll do that, i am checking the last failing tests on windows (only 2/1018), after that i'll fix the xplat.

Next step is convert the tests/fsharpqa to nunit (like tests/fsharp). That shoulb be a lot easier, the code is already there, need to convert only run.pl and read xml header of files

[2015-12-01 11:18] dsyme commented on #488
I'm closing this for now - there was a recent fix in Microsoft\visualfsharp to catch an unexpected null case in printing.

[2015-12-01 11:18] #488 closed

[2015-12-01 11:20] dsyme commented on #459
I'm closing this as it appears fixed on Mono master. Please check again if you can.

[2015-12-01 11:20] #459 closed

[2015-12-01 11:21] dsyme commented on #427
Closing as it is fixed with Mono 4.2

[2015-12-01 11:21] #427 closed

[2015-12-01 11:21] dsyme commented on #460
This is fixed, fsharp is now part of "mono" homebrew

[2015-12-01 11:21] #460 closed

[2015-12-01 11:27] dsyme commented on #511
I can't repro this. Do you have a rogue FSharp.Core.dll in your GAC?

[2015-12-01 11:28] dsyme commented on #511
Closing for now as it doesn't seem to repro, it feels like this is system-specific in some way.  More information would be appreciated.

[2015-12-01 11:28] #511 closed

[2015-12-01 12:12] dsyme commented on #483
Added a potential fix for this.

[2015-12-01 13:00] dsyme opened #517 "Mono GetProperty regression affects F# tests"
https://bugzilla.xamarin.com/show_bug.cgi?id=36418

There is a regression in Mono when binding indexer properties on generic types.  This is exposed via the F# code to get a quotation which indexes into a list:

    let q = <@ let xs = [1] in xs.[0] @>

A simpler repro calling GetProperty directly is shown below. The problem appears to be when we give exact instantiated return and argument types w

[2015-12-01 14:25] enricosada commented on #507
as a note, @PatrickMcDonald created the nunitlite runner ( see Microsoft/visualfsharp#748 )

[2015-12-01 20:52] haf commented on #465
@CarstenKoenig This may very well be fixed in the 4.2 series.

[2015-12-01 20:55] haf opened #519 "F# 3.1 in homebrew formula"
[code]

Expected to be using v4.0 by now.

Currently trying v4.0.1.0 for a few of our projects on OS X, Mono 4.2.1.

// edit
Tests successful.

[2015-12-01 21:11] CarstenKoenig commented on #465
Mono 4.2? No sadly no ...

[2015-12-01 21:14] haf opened #520 "Upgrade Travis infrastructure used to run unit tests"
https://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

As can be seen at the top of the travis builds.

[2015-12-01 21:14] haf commented on #465
@CarstenKoenig Did you add a bug for it?

[2015-12-01 21:17] rneatherway commented on #520
The dockerised builds are not allowed to use `sudo`, which we do: https://github.com/fsharp/fsharp/blob/master/.travis.yml#L19

I'm not sure if the `sudo make install` step is actually needed for testing though.

[2015-12-01 21:18] CarstenKoenig commented on #465
No - not yet - I just added it to the things you cannot to on Mono/F# and I still hope for .net core.

I tried to get an account on Bugzilla but the confirmation mail never arrived and I did forget.

It's not to nasty a bug because it works in compiled code and there is no problem if you work *non-point-free* - maybe I should try again (just compiling the current F# version in the background)

[2015-12-01 21:21] haf commented on #465
Let me give it a shot on the latest mono. It's going to be a (long) while before CoreCLR is production worthy with F# and mono is surprisingly stable as long as you really test your use-case and keep off the BCL as much as possible ;). (Like I tend to do, have custom libs for almost everything)

[2015-12-01 21:24] haf commented on #465
Works for me:

[code]

[2015-12-01 21:25] CarstenKoenig commented on #465
hey yeah ... just tried it and indeed the error is gone here too ... seems the 4.0.1.1 version got it - thanks for reminding me :D

[2015-12-01 21:26] #465 closed

[2015-12-01 21:31] haf commented on #465
PR that fixes: https://github.com/Homebrew/homebrew/pull/46552

[2015-12-01 21:41] dsyme commented on #520
@rneatherway It is necessary right now since the testing we do assumes FSharp.Core is in the GAC among other things.

[2015-12-01 21:41] dsyme commented on #517
We must re-enable these tests after this is fixed: https://github.com/fsharp/fsharp/pull/518

[2015-12-01 21:48] rneatherway commented on #520
I see, in that case #522 isn't going to work.

[2015-12-01 21:54] haf commented on #520
Can we remove the dependencies on the GAC? It's so 2002 anyway ;)

[2015-12-03 08:01] embix commented on #289
So you're telling me, when switch from C# to F# we can no longer store our SemVer in AssemblyInformationalVersion?

[2015-12-03 08:02] haf commented on #289
Yes, you can, with F# 4.0 without warnings.

With F# 3.1 it's just a warning, not an error.

[2015-12-03 08:43] embix commented on #289
Using

    [<assembly: AssemblyVersion("1.0.0.0")>]
    [<assembly: AssemblyFileVersion("1.0.0.10003")>]
    [<assembly: AssemblyInformationalVersion("1.1.0-alpha+0003")>]

 with F#4 [and the following parameters][1] I still get the FS2003 warning. Using Explorer->Properties->Details I see

    File version 1.0.0.10003
    Product version 1.0.0.0

instead of

    File version 1.0.0.10003
    Produ

[2015-12-03 09:10] embix commented on #289
Nevermind, I just found https://github.com/Microsoft/visualfsharp/issues/605

[2015-12-03 17:55] dsyme opened #528 "Control test failing: ObjectDisposedException: The CancellationTokenSource has been disposed."
We're getting occasional failures on the "fsharp\core\control" test on Mono on OSX, e.g. latest https://travis-ci.org/fsharp/fsharp/builds/94684301.  It would be great if someone could look into this - is it a test bug or a Mono bug or a long-hidden F# bug?
[code]

[2015-12-05 22:52] jmchapman opened #529 "mapping option valued function yields list containing null"
I have installed mono and f# via Xamarin Studio (stable channel).

$ fsharpi

F# Interactive for F# 4.0 (Open Source Edition)
Freely distributed under the Apache 2.0 Open Source License

For help type #help;;

val it : bool option = None

val it : bool option list = [null]

[2015-12-05 23:34] rneatherway commented on #529
I believe that this is just an artefact of the compiler using null as the representation for None. The same happens in Visual Studio. For some discussion see https://stackoverflow.com/questions/11959321/why-is-none-represented-as-null

[2015-12-06 10:46] dsyme commented on #529
Yes, that's correct (and we'd love to see printing fixed to track types properly!)

[2015-12-08 10:13] dsyme commented on #337
A decision has been made not to include this flag in the Visual F# Tools compiler shipped by Microsoft. See https://github.com/Microsoft/visualfsharp/pull/764#issuecomment-162613480

I'm OK with respecting that decision and keeping the flags consistent across versions.

[2015-12-08 10:14] dsyme commented on #337
(However, we could still adjust the version string printed by the F# open edition to include the version tag, as originally proposed here, so reopening to cover that)

[2015-12-09 04:49] enricosada commented on #337
Let's add the info to logo instead of `--version`

I think

`F# Compiler 4.3.1.0 (2014-09-05 fd84301) FSF`

FSF or fsharp foundation or fsharp.org is ok? I think git sha help a lot, but need a bit of work so i am asking before implement it

[2015-12-09 05:53] ReedCopsey commented on #337
It should be either "FSSF", "fsharp.org", or "F# Software Foundation" - I suspect the latter might cause issues if the "#" is problematic.

My preference would be to use "fsharp.org".

[2015-12-09 06:09] KevinRansom commented on #337
Please submit any change in the version to fsharp/fsharp.  This repo will maintain version info with it's historic format, and consistent in format with other managed languages.

[2015-12-09 06:21] enricosada commented on #337
Yes, for that i tried first to add `--version` , more standard ( in the big world outside Microsoft ) and changing the logo was going to be a dead end in VisualFSharp , so i tried first a cross repo solution (less diff, less maintenance, more features) but if it's going only in this repo no problem

[2015-12-11 12:55] #529 closed

[2015-12-11 13:07] dsyme commented on #528
This bug must be related to some recent change in Mono, where an ObjectDisposedException is now being raised.  It's possible it's related to these:

https://github.com/mono/referencesource/pull/17

https://github.com/mono/mono/pull/2104

Certainly the problem is external in mono.

It's best It is not really possible to workaround it in this repository (at least not properly) since that would invol

[2015-12-11 13:10] dsyme commented on #528
See this comment: https://github.com/mono/mono/pull/2104#issuecomment-163933163

[2015-12-13 00:16] rneatherway commented on #519
Fixed in homebrew

[2015-12-13 00:16] #519 closed

[2015-12-15 18:42] dsyme commented on #508
See also discussion here: https://twitter.com/dsyme/status/676828486217113600

[2016-01-07 06:50] binki opened #532 "Use the same AssemblyVersion for all versions of FSharp.Core meant to be backward compatible"
Putting the responsibility of putting AssemblyBindingRedirects on the application which may not be using FSharp directly itself just seems wrong. Within the .net framework, the application does not need to put AssemblyBindingRedirects for mscorlib for that application to be able to use a library targeting an old version of the framework. Now, it can manage this because the framework has full contr

[2016-01-07 09:44] smoothdeveloper commented on #532
@binki this seems to make a lot of sense! I've spent significant time figuring issues with missing redirects (binding exceptions in dotnet are to blame on this I guess) and dependencies on several version of that assembly, which would have been totally avoided if the assembly was part of the .net framework proper (like mscorlib & all).

The type of errors you get with all of this is also quite cry

[2016-01-07 11:56] dsyme commented on #532
This issue should be opened as a UserVoice feature request, I guess at http://fslang.uservoice.com.   However I'm sceptical that the Microsoft Visual F# Tools team would follow your proposed path: the options above were considered by that team when deciding how to version FSharp.Core. TBH it's unlikely they'll revisit such fundamental decisions.

n.b. Please also make sure you are following the gu

[2016-01-07 11:56] #532 closed

[2016-01-07 11:56] dsyme commented on #517
Fixed on mono-4.2.0-branch in commit 7ad84f7adc5b9d33d4d0a813dde4e032ad7215a9

[2016-01-07 13:35] enricosada commented on #517
https://github.com/mono/mono/commit/7ad84f7adc5b9d33d4d0a813dde4e032ad7215a9

[2016-01-13 08:26] ReverseBlade opened #534 "C# supports arbitrary text for AssemblyInformationalVersion where as F# does not"
With C# assemblies we can make use of the following attribute:
``[assembly: AssemblyInformationalVersion("FooBar")]``

as you see AssemblyInforationalVersion is arbitrary text and it compiles fine and emitted properly to target assembly.

With F# however compiler gives a warning that this is not valid:
``[  assembly:AssemblyInformationalVersionAttribute("FooBar") ]``

FSC: warning FS2003: An Assem

[2016-01-13 17:06] enricosada commented on #534
the Microsoft/visualfsharp#605 fix should address this issue.
There is a [test case](https://github.com/enricosada/visualfsharp/blob/e27e4d142635dc1a5c3a74acc857d4cbbfb7cc45/tests/fsharp/fsc/warnings/FS2003/Warning_FS2003.fs#L30-L40) with a free AssemblyInformationalVersionAttribute ( the warning is expected )

@ReverseBlade this comment box syntax is Markdown ( https://guides.github.com/features/

[2016-01-13 22:49] dsyme commented on #534
Closing this since it's covered by the above

[2016-01-13 22:49] #534 closed

[2016-01-25 08:22] icp1994 opened #535 "Build Error in Linux"
$ make
...
make[3]: Entering directory '/home/carl/Downloads/fsharp/src/fsharp/FSharp.Build-proto'
MONO_ENV_OPTIONS= /usr/bin/xbuild /p:Configuration=Proto
XBuild Engine Version 12.0
Mono, Version 3.2.8.0
Copyright (C) 2005-2013 Various Mono authors

Build started 25-01-2016 13:42:12.
__________________________________________________
/home/carl/Downloads/fsharp/src/fsharp/FSharp.Build-proto/FShar

[2016-01-25 13:18] Cyclic3 commented on #535
I am having exactly the same problem

[2016-01-25 13:24] Cyclic3 commented on #535
I have fixed it (I think). Try removing line 71 (\<UsingXBuild Condition="$(MSBuildExtensionsPath32.Contains('xbuild'))">true\</UsingXBuild>)

[2016-01-25 14:41] rneatherway commented on #535
You need Mono 4 or greater for that xbuild property to be interpreted correctly.

[2016-01-25 16:53] Cyclic3 commented on #535
I ran
`sudo apt-get remove mono-complete --purge`
`sudo apt-get install mono-complete`
I was pretty sure that would get me to the latest version of mono, but running mono --version gave

I applied the mono suggested:
` sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
echo "deb http://download.mono-project.com/repo/debian wheezy main" |

[2016-01-25 17:00] knocte commented on #535
Robin, if we require Mono 4, we should raise the dependency version in the configure.ac file.

[2016-01-25 17:26] rneatherway commented on #535
Yeah #536

[2016-01-25 18:01] dsyme commented on #528
See new comment here about a possible fix for this: https://github.com/mono/mono/pull/2104#issuecomment-174561916

[2016-01-25 21:33] #535 closed

[2016-01-31 00:28] dbwz8 opened #537 "Stack Corruption in mono (where code is fine on Windows)"
If you take the following complete program and complie/run under mono on Ubuntu:
[code]
You get:
[code]
If you take the compiled executable (Test3.exe) and copy it over to Windows and try to run it, you get:
[code]
If you stay on Linux under mono and just uncomment the ```printfn``` it also runs perfectly.
.

[2016-01-31 00:38] dbwz8 commented on #537
Playing some more with it. If I replace the ```printfn``` with any inline computation or a call to a function defined in the same file, it still blows up... but, if I call anything external to my module, e.g.:
[code]
It works perfectly. Looks like a tail-recursive code optimization gone bad.

[2016-01-31 21:52] 7sharp9 commented on #537
You should raise this as a bug to mono, using the issue here to track it to completion.

[2016-02-01 14:26] dsyme commented on #537
I'll enter a mono bug

[2016-02-01 14:26] dsyme commented on #537
@dbwz8 Can you show us your mono version please? (I think that is ``mono --version``)

[2016-02-01 14:33] dsyme commented on #537
Bug entered here: https://bugzilla.xamarin.com/show_bug.cgi?id=38250

@dbwz8 - we still need the exact mono version please, thanks

[2016-02-07 23:19] dsyme commented on #537
This has been resolved fix in mono

[2016-02-07 23:19] #537 closed

[2016-02-07 23:20] dsyme opened #540 "Heisen-failure in control test"
This failure is from a recent Mono 4.2.2 OSX test run, it looks like a heisen-failure in an async programming test

[code]

[2016-02-07 23:42] dsyme commented on #540
Duplicate of https://github.com/fsharp/fsharp/issues/528

[2016-02-07 23:42] #540 closed

[2016-02-08 09:29] mrakgr opened #542 "Array.sum slower than Array.reduce with script debugging off"
In fact Array.sum on ints is 2x slower with script debugging off than with script debugging on. Please see this [reddit thread](https://www.reddit.com/r/fsharp/comments/44j3vk/some_performance_testing_and_questions/czs1vy2) for the associated timings.

Edit: Actually, this seems to be more of a matter that the --optimize switch in F# Interactive does nothing for me.

Edit2: Is there a way to check

[2016-02-14 22:14] FrankBro opened #545 "Yield prevents implicit cast to interface type"
Using yield when building a collection seems to prevent implicit cast to the interface type expected

[code]

In this example, you will get an error for `b`:

[code]

[2016-02-15 18:15] eiriktsarpalis opened #546 "FSharp.Quotations.DerivedPatterns.(|SpecificCall|_|) not working properly with methods of generic types"
The active pattern works as expected when matching against generic methods
[code]
However it fails to properly handle methods of generic types:
[code]
Is this by design?

[2016-02-23 13:15] enricosada commented on #546
hi @eiriktsarpalis, this repo is for cross platform packaging ( see http://fsharp.github.io/2014/06/18/fsharp-contributions.html for a guide) can you create or move this issue to [Microsoft/visualfsharp](https://github.com/Microsoft/visualfsharp) repository?

About your questions, i think quotation doesn support generic definition, see http://stackoverflow.com/questions/26710818/f-code-quotations-

[2016-02-24 09:47] dsyme commented on #546
@enricosada You can refer to existing generic definitions, but can't define new expression-bound local generic functions within quoted expressions.  You can define them in ReflectedDefinition saved definitions

[2016-02-24 09:49] dsyme commented on #546
@eiriktsarpalis I believe it is reasonable to make SpecificCall work over methods in generic classes, but there may be a reason why it's not supported.  We'd accept a PR for this that works correctly.

[2016-02-24 10:29] eiriktsarpalis commented on #546
@enricosada yeah sorry, I accidentally navigated to this repo and didn't notice it until I had the issue posted.

I've got [this](https://gist.github.com/eiriktsarpalis/5ffc567e670733cf7833) alternative implementation that works as expected with methods of generic types.

@dsyme I think it would be wrong to attempt to fix the current implementation of `(|SpecificCall|_|)`. In general altering impl

[2016-02-24 16:18] dsyme commented on #546
@eiriktsarpalis Yes, you're right. I suppose some name like ``SpecificGenericCall``

[2016-02-25 08:49] #542 closed

[2016-02-28 23:41] mk0x9 opened #549 "Building on Fedora 23 against mono-git"
I can't build f# on my machine, probably somehow related to issue #471.

[code]

Here is the log:

[code]

I've tried `$ mozroots --import --sync` and `$ cert-sync --user /etc/pki/tls/certs/ca-bundle.crt` but no luck here.

[2016-02-29 19:21] gdennie opened #550 "Constraint format..."
The following layout of constraints for a sample class should be possible.

       GroupedFixtures<'A, 'B
          when
             'A :> Remote.RemoteWebDriver and
             'A : (new: unit -> 'A) and
             'B :> ServerFixture

Presently it almost was but the `new()` constraint use of parenthesis caused problems. currently all the constraints layout forces them on the same line which

[2016-02-29 20:39] gdennie commented on #550
I will leave this suggest up but I think it can be closed since the need is considerably diminished. It seems these constraints can be resolved with lambdas...

      type GroupedFixtures
         (
            ctorDriver : unit -> IWebDriver,
            ctorSite : unit -> ServerFixture
         ) as this  =

[2016-02-29 20:39] #550 closed

[2016-02-29 21:36] gdennie opened #551 "How about allow flexible types in default constructor constraints..."
This would permit,

    let ctor<'a when 'a:(new: unit -> #IWebDriver)> : unit -> IWebDriver = ...

versus

    let ctor<'a when 'a:(new: unit- > 'a) and 'a :> IWebDriver> = fun () -> new 'a() :> IWebDriver

[2016-02-29 22:20] dsyme commented on #551
Suggestions go to http://fslang.uservoice.com. Please see CONTRIBUTING.md.

[2016-02-29 22:20] #551 closed

[2016-02-29 22:21] dsyme commented on #550
Suggestions go to http://fslang.uservoice.com. Please see CONTRIBUTING.md.

[2016-03-03 02:14] netroby opened #552 "Build fsharp failed"
[code]

[2016-03-03 22:03] mk0x9 commented on #549
Umm, any tips here?

[2016-03-04 08:14] knocte commented on #549
Check http://stackoverflow.com/questions/15181888/nuget-on-linux-error-getting-response-stream

[2016-03-04 09:16] mk0x9 commented on #549
@knotce thanks, I'll look into it. I've tested with `tlstest` tool and it worked fine with user certificate store.

[2016-03-05 00:20] mk0x9 commented on #549
Very strange. Even after re-importing mozilla certs to machine store from clean slate, tlstest.exe works fine, but nuget.exe still can't connect.

[2016-03-05 13:24] sologub opened #553 "IDisposable not disposed on tail call"
When the `use` keyword is used in combination with tail calls then the object is not disposed until the tail call returns, which is a quite nasty surprise for the developer and causes memory leaks, especially in async computations (like MailboxProcessor) where a function may never return for the entire program's lifetime.
Below is an example:

[code]

Which outputs:

[code]

[2016-03-05 13:40] dsyme commented on #553
Well, this is simply not a tailcall (it might look like one, but it's not).  Likewise anything under a try/finally. See also the suggestion about tailcall warnings on http://fslang.uservoice.com.

[2016-03-05 13:55] sologub commented on #553
How about the async versions? Are they also non-tail recursive?

[code]

[2016-03-05 14:28] dsyme commented on #553
Yes.   In both cases you need to restructure to scope the use appropriately:

[code]

[2016-03-05 14:30] mk0x9 commented on #549
Actually tls could be broken in current mono master branch.

https://bugzilla.xamarin.com/show_bug.cgi?id=39011
https://bugzilla.xamarin.com/show_bug.cgi?id=39307

[2016-03-05 15:32] sologub commented on #553
Thank you for clarifying, I'm closing this issue.

[2016-03-05 15:32] #553 closed

[2016-03-05 23:39] mk0x9 commented on #549
After building not so recent mono/mono@f0b9f524fa81b043ac57a9c6ebc6e8d231a0f1e9 nuget works fine. Fsharp is building too.

[2016-03-05 23:39] #549 closed

[2016-03-08 20:51] loganek commented on #552
Well, you actually didn't attach exact log information, but it might be useful: http://stackoverflow.com/questions/15181888/nuget-on-linux-error-getting-response-stream

[2016-03-25 15:02] 0xmohit opened #555 "Generated executables have missing execute bit"
[code]

F# obtained as per instructions on http://fsharp.org/use/linux/.

Test file:

[code]

Now compile:

[code]

Check the result:

[code]

The executable `a.exe` doesn't have the execute bit set.

In case it matters, here's the `umask`:

[code]

The compiler version from `fsharpc --help` reads `F# Compiler for F# 4.0 (Open Source Edition)`

[2016-03-25 16:37] smoothdeveloper commented on #555
@0xmohit I think you anyways need to execute the program like this:

`mono a.exe` so I don't think it really matters.

What is the behaviour of C# compiler?

[2016-03-25 17:01] 0xmohit commented on #555
Executables generated by `mcs` don't exhibit this behavior, i.e. `mcs foo.cs` generates `foo.exe` which has the execute bit(s) set.

[2016-03-25 17:19] 0xmohit commented on #555
It is worthwhile adding that this issue (with `fsharpc`) wasn't observed earlier -- seems that the change is due to a recent package update.

[2016-03-30 09:54] dsyme commented on #555
The code to set the executable permissions is here: https://github.com/fsharp/fsharp/blob/master/src/absil/ilwrite.fs#L3414

It might be that this code is now failing for some reason on recent Mono configurations, e.g. due to assembly number version changes or the like.

If someone could check (e.g. by putting the relevant subset of the code through F# Interactive) that would be great.

[2016-04-02 18:50] 0xmohit commented on #555
Compiling with `FSharp_DebugSetFilePermissions` set, i.e. by saying

        FSharp_DebugSetFilePermissions=1 fsharpc a.fs

yields:

[code]

[2016-04-03 14:08] rexcfnghk opened #556 "printf units of measure does not work for %M specifier"
F# 4.0 has an improvement to [`printf` that supports units of measure](https://github.com/fsharp/FSharpLangDesign/blob/master/FSharp-4.0/PrintfUnitsOfMeasureDesignAndSpec.md). However it does not work for the `%M` specifier:

[code]
Gives

Changing the `1.` literal to float and the format specifier to `%f` solves the issue:
[code]
Outputted:

[2016-04-03 14:09] #556 closed

[2016-04-03 14:09] rexcfnghk commented on #556
Moving it Microsoft/fsharp

[2016-04-03 23:42] dsyme commented on #555
Ok, well, that's the problem certainly.  But I don't understand why that reflection call is now failing. Calling the getter property succeeds, and the setter is public  https://github.com/mono/mono/blob/master/mcs/class/Mono.Posix/Mono.Unix/UnixFileSystemInfo.cs#L134

It could be that the argument to the setter method is considered a boxed Int32 instead of a boxed FileAccessPermissions enumeration

[2016-04-05 16:53] jon49 opened #557 "WdslProvider Accept both https and http for single type"
I have a service that uses `https` when in production mode, but uses `http` for dev and beta mode. Real annoying and it should use https for everything. Anyways, is there a way to dynamically make it a type for both conditions?

This is basically the error:

`The provided URI scheme 'https' is invalid; expected 'http'`

I can dynamically change the endpoint address. But there doesn't appear to be

[2016-04-08 22:07] dsyme commented on #546
Closing this since as @enricosada says i's the wrong repo for this.  @eiriktsarpalis please add a link to a uservoice request?

[2016-04-08 22:07] #546 closed

[2016-04-08 22:07] dsyme commented on #545
Right now this is by design.  Since this is a language change suggestion, please add it to http://fslang.uservoice.com.

[2016-04-08 22:09] dsyme commented on #552
Closing as it looks like the link above will have what you need

[2016-04-08 22:09] #552 closed

[2016-04-08 22:09] dsyme commented on #557
Please enter this as an issue in https://github.com/fsprojects/FSharp.Data.TypeProviders, and if possible provide a tentative fix too. Thanks!

[2016-04-08 22:10] dsyme commented on #557
Closing this since development on the WSDL type provider has moved to the above repo.

[2016-04-08 22:10] #557 closed

[2016-04-08 22:11] dsyme commented on #545
Closing as this should go in user voice as mentioned above please.  Thanks!

[2016-04-08 22:11] #545 closed

[2016-04-09 12:21] dsyme opened #562 "[XBuild] ResX resources in sub-directories are missing the directory name"
Looking at the output for compiling `tests\projects\Sample_VS2012_FSharp_ConsoleApp_net45_with_resource`, it is easy to see that for F# on Linux, ResX resources are missing their subdirectory names . On Windows, the subdirectory names are added

For example, for that project compiled using MSBuild on Windows, the command line argument is :

[code]

giving this in the ILDASM of the output:

[code]

[2016-04-09 14:26] knocte commented on #562
Shouldn't this be reported in bugzilla.xamarin.com ?

[2016-04-10 01:03] dsyme commented on #562
@knocte It's a bug in F# on Mono on Linux, it doesn't show up for .csproj,   The fix may be in Mono but we'd need to work it out first.

[2016-04-10 10:03] smoothdeveloper commented on #545
https://fslang.uservoice.com/forums/245727-f-language/suggestions/13361034-implement-implicit-casts-for-yield

[2016-04-12 22:27] dsyme opened #564 "Note: Microsoft.FSharp.Targets --> Microsoft.FSharp.targets in source tree, but not in distributions!"
Just a minor note for the records….

In a recent checkin (I think one by @otawfik-ms) we renamed

    Microsoft.FSharp.Targets --> Microsoft.FSharp.targets

This is OK, but just creating this issue to record the fact that all existing .fsproj files in the world use the capitalized names in their targets references.

The renaming causes no harm on Windows or OSX. However, _the Mono editions of F# a

[2016-04-12 22:38] otawfik-ms commented on #564
Do you mean this?
https://github.com/Microsoft/visualfsharp/commits/master/src/fsharp/FSharp.Build/Microsoft.FSharp.targets
Can you please mention the commit causing that change?

[2016-04-12 23:07] otawfik-ms commented on #564
I see here I 2 year old commit by @enricosada
https://github.com/fsharp/fsharp/commits/master/src/fsharp/FSharp.Build/Microsoft.FSharp.Targets

[2016-04-13 09:32] dsyme commented on #564
@otawfik-ms Yeah, it wasn't anything by you :) Sorry!

I think what's happened is that the capitalizations have just always been different in the two repos, but for the first time an actual change to the file has been propagated through - the copyright notice change here: https://github.com/Microsoft/visualfsharp/commits/master/src/fsharp/FSharp.Build/Microsoft.FSharp.targets. One problem is that

[2016-04-13 09:32] dsyme commented on #564
I'll close this as it's just a comment.

[2016-04-13 09:32] #564 closed

[2016-04-13 09:40] knocte commented on #564
I see you added info about this in this commit: https://github.com/fsharp/fsharp/pull/558/commits/5953f529a755fa4b421d925bf8ff87a265d26751

But where is the actual rename?

A solution (workaround) to this is to do a 2step rename:
1. Rename to *.targetsTEMP
2. Rename to *.Targets

I think consistency is important here. If I create a PR to do this in Microsoft/visualfsharp/, will it be accepted?

[2016-04-13 10:14] enricosada commented on #564
i think i have aligned the wrong side in my commit (i was minimizing diff of the two repos), i used visualfsharp as the gold and renamed the fsharp/fsharp . sry

btw to do a case sensitive rename in windows without issues:

[code]

and you can git add + commit.

[2016-04-13 10:18] knocte commented on #564
Yup, exactly what I said ;-)

Is that a `yes` answer to my question?

[2016-04-13 10:34] enricosada commented on #564
@knocte all the msbuild files i see use a lowercase `.targets` extensions.

from

- `C:\Program Files (x86)\MSBuild\12.0\Bin`
- `C:\Program Files (x86)\MSBuild\14.0\Bin`

and **usually are imported lowercase**
[code]

**but the import in f# project use uppercase** ( ref https://github.com/Microsoft/visualfsharp/tree/master/vsintegration/ProjectTemplates for example the [console template](https://g

[2016-04-13 14:01] CSharpFan opened #565 "Circular reference and attributes."
#### Repro steps

Paste the following code in FSI

[code]

#### Expected behavior

It would compile to
[code]

#### Actual behavior

[code]
#### Known workarounds

Do it in C#.

#### Related information

Ran in `fsi`
[code]
And in Visual Studio 2015 Update 2 with using a DLL with .NET 4.6.1, and the 4.4.0.0 F# Runtime.

This is done on a Windows 8.1 machine, but can reproduce on a Windows 10 (late

[2016-04-14 08:34] dsyme commented on #565
@CSharpFan Good bug report, thanks.

This repo is for F#+Mono x-platform issues.  Could you more this to http://github.com/Microsoft/visualfsharp please?  Thanks

[2016-04-14 08:38] dsyme opened #566 "Add .NET Core to FSharp.Core nuget package"
The [FSharp.Core](https://www.nuget.org/packages/FSharp.Core) nuget package is currently authored from this repo.

It would be great to start adding .NET Core versions of FSharp.Core to this nuget package, as this will make it easier for clients to use FSharp.Core.

My understanding is that Microsoft will make a package for the signed FSharp.Core we need to include, and we just need to either merg

[2016-04-14 08:53] CSharpFan commented on #565
@dsyme Will do. Thank you for the update. You can close the issue here.

[2016-04-14 12:46] enricosada commented on #566
We are going to have alignment issues, a lots if we have two (or more) packages, and not from maintainer side but from develper side.

nuget support packages with multiple frameworks. we should use that and have a single `FSharp.Core`.

but merge different versions of assemblies in same package is a bad hack, features/bugs may change.

for example, if we add the new `FSharp.Core.dll` built for .NE

[2016-04-14 12:53] dsyme commented on #566
@enricosada Yes, agreed (the current package contains version 4.4.0.0 in net40).  Note sure what to do about that since we only like to put the finalized, signed netfx FSharp.Core in the package.

We could just wait, of course, and accept that there are two FSharp.Core packages until 4.4.1.0 comes out.

[2016-04-14 15:34] #565 closed

[2016-04-19 19:41] drcrook1 opened #569 "Seq.Length handles data holes poorly"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Download sample data: https://opendata.miamidade.gov/311/311-Service-Requests-Miami-Dade-County/dj6j-qg5t

2. Install fslab nuget package (or fsharp.data)

3.  Create new type with CsvProvider

4.  Load data with type provider

5.  Attempt to get length of the sequence

ty

[2016-04-19 19:46] drcrook1 commented on #569
Should use this: type m311C = CsvProvider<"C:\\data\\Miami_311.csv",
                            AssumeMissingValues=true>

Would be nice if

[2016-04-19 19:48] drcrook1 commented on #569
This issue actually lies in FSharp.Data.  Closing and moving to FSharp.Data.

[2016-04-19 19:48] #569 closed

[2016-04-20 08:45] Horusiath opened #570 "Record equality doesn't check potential recursion and can cause infinite loop"
When provided a record definition with possible recursive field definition, an instance of that record may cause `StackOverflowException` during the equality check.

#### Repro steps

[code]

#### Expected behavior

Equality check should return true.

#### Actual behavior

On checking equality with itself, instance causes `StackOverflowException`.

#### Known workarounds

I'm not aware of current

[2016-04-20 08:48] #570 closed

[2016-04-20 09:03] forki commented on #570
Moced to https://github.com/Microsoft/visualfsharp/issues/1085

[2016-04-28 08:01] fellz opened #571 "MonoDevelop FSharp.Core.dll not found"
Hi
I've installed MonoDevelop at Ububtu 14.04. Steps i took:

Installed this

[code]

Installed this

[code]

Then ```monodevelop-opt``` runs MonoDevelop ver. 5-10

Also installed ```sudo apt-get install mono-complete fsharp```

I found Documentation pretty confusing.
For example, in order to install "MonoDevelop" you need to install Mono project - ok. Then

and no link to **monodelop** or instruc

[2016-04-28 08:47] 7sharp9 commented on #571
This is the F# language repo, it's not related to F# in MonoDevelop, bugzilla is used for issues: https://bugzilla.xamarin.com/enter_bug.cgi?product=Xamarin%20Studio

[2016-04-28 08:56] fellz commented on #571
I know but newbies like me will go to this repo i guess also github issues system simpler and more familiar to devs. So is there simple solution to this problem or i have to ask xamarin devs via bugzilla ?

[2016-04-28 10:14] fellz commented on #571
Ok i found a solution. Changed Mono version in Preferences. May be it will help somebody

![mono-runtime](https://cloud.githubusercontent.com/assets/96966/14882767/6c09a130-0d4b-11e6-9070-4fe612ba67f5.jpg)

![selection_241](https://cloud.githubusercontent.com/assets/96966/14882778/79fbe0be-0d4b-11e6-8454-191403e150ce.jpg)

[2016-04-28 11:38] 7sharp9 commented on #571
Ok, glad you resolved it. A similar issue was fixed recently in Xamarin Studio 6.1 relating to F# core .Net 4.6+ references.

[2016-05-05 20:13] Porges opened #572 "Compiler allows exporting type abbreviations that mention private types"
The compiler doesn't currently prevent you exporting an alias for a private type, but it probably should.

#### Repro steps

That is, given this code in an assembly:

[code]

#### Actual behavior

Using this from *another assembly* can produce unexpected results:

[code]

Giving:

[code]

#### Expected behavior

The desired behaviour would be that a type abbreviation that mentions private types mu

[2016-05-06 07:19] dsyme commented on #572
I haven't yet reproduced the behavior above.

Could you use the issue template please, with exact "Repro", "Actual" and "Expected" steps, and compiler versions etc?  I

[code]

gives

[code]

while this code:
[code]
gives
[code]

Splitting the code into multiple modules gives errors too.  This is all with the F# 4.0 ``fsc.exe`` compiler on Windows. ``fsi.exe`` gives similar results. However it see

[2016-05-06 07:38] Porges commented on #572
This is what is needed to reproduce the error.

I've reformatted the issue according to the template and made it more explicit that you need to put the consuming code in another assembly, hope that helps.

[2016-05-06 14:59] dsyme commented on #572
OK, thanks.  Yes, that is a bug.  We actually need to reopen this under http://github.com/Microsoft/visualfsharp since it's not a Mono-specific issue (we use this repo to track Mono issues).  Could you do that for me please?

[2016-05-06 19:38] Porges commented on #572
Ah, I thought there was something like that but didn't find it as I was looking under the `fsharp` organization. Moved it now, thanks.

[2016-05-06 19:38] #572 closed

[2016-05-17 15:35] hodzanassredin opened #574 "Strange stack overflow exception"
We have a simple function
[code]
This code works well in fsi but when compiled throws Stack Overflow exception.

#### Repro steps

Compile and run this code as a console app.
#### Expected behavior

Output:125

#### Actual behavior

Stack overflow

#### Known workarounds

Put vars zero and one into func.
[code]
#### Related information

Provide any related information

* Windows
* .NET Runtime CLR

[2016-05-17 15:43] dsyme commented on #574
Are you compiling as "Debug" or "Release"?  Tailcalls are disabled be default on "Debug".  You can turn them on.

[2016-05-17 15:44] ademar commented on #574
ha I just reply the same on twitter .. https://twitter.com/ad3mar/status/732597327857221632

[2016-05-17 15:49] hodzanassredin commented on #574
Yes I tested both release(with enabled tco) and debug modes. Problem exists in release mode.

[2016-05-17 15:50] hodzanassredin commented on #574
Seems that problem in variables declaration on a module level.

[2016-05-17 15:53] hodzanassredin commented on #574
Sorry my miss checked it one more time. Actually my mode didn't changed when I tested it.

[2016-05-17 15:53] #574 closed

[2016-05-17 15:53] hodzanassredin commented on #574
But why it works without tco when variables declared inside a func?

[2016-05-17 15:58] ademar commented on #574
I think without TCO it would overflow just need to use a larger input.

[2016-05-18 09:15] hodzanassredin commented on #574
I found a reason for that. I thought that static variables will reduce stack frame size. But actually one and zero was compiled as properties so it creates additional stack frames. When I changed properties to fields in decompiled version everything started to work as expected.

[2016-05-23 10:36] hodzanassredin opened #575 "Program with enabled tco produces incorrect result."
We have a simple program
[code]
This code works correct only when compiled with --tailcalls- option..

#### Repro steps

Compile in release mode or with --tailcalls+ option.and run this code as a console app
#### Expected behavior

Output:13

#### Actual behavior

Output:1

#### Related information

Provide any related information

* Windows
* .NET Runtime CLR v4.0.30319
*  Visual Studio 2015
*  F

[2016-05-23 10:53] hodzanassredin commented on #575
[code]

[2016-05-23 11:22] dsyme commented on #575
OK.... This may be a CLR bug (presumably involving structs and indirect tailcalls).  The only difference I see in the code we generate between

    fsc --tailcalls+ --optimize+ -o a2.exe a.fs
    fsc --tailcalls- --optimize+ -o a4.exe a.fs

is a single ``tail.`` instruction.  Which should always be safe to emit.

[2016-05-23 11:23] dsyme commented on #575
(It would be good to know the exact versions of .NET being used, and if this is a RyuJIT bug or not)

[2016-05-23 12:14] hodzanassredin commented on #575
In mono vorks as expected

[code]

[code]

`C:\Program Files (x86)\Microsoft SDKs\F#\4.0\Framework\v4.0\fsc.exe -o:obj\x64\Release\ConsoleApplication3.exe --debug:pdbonly --noframework --define:TRACE --doc:bin\Release\ConsoleApplication3.XML --optimize+ --platform:x64 -r:"C:\Program Files (x86)\Reference Assemblies\Microsoft\FSharp\.NETFramework\v4.0\4.4.0.0\FSharp.Core.dll" -r:"C:\Program Files (

[2016-05-23 12:18] hodzanassredin commented on #575
tested different .net framework versions. from 4.5 to 4.6.1 and everywhere it is broken

[2016-05-23 12:23] hodzanassredin commented on #575
Tested with <useLegacyJit enabled="1" /> and it works correct. So problem in RyoJit.

[2016-05-23 12:23] #575 closed

[2016-06-03 09:34] eiriktsarpalis opened #576 "Confusing #q;;"

[2016-06-03 09:35] eiriktsarpalis commented on #576
Oops, my keyboard went berserk while typing the issue, please ignore.

[2016-06-03 09:35] #576 closed

[2016-06-06 19:24] gitfoxi commented on #320
+1

[2016-06-06 21:10] dsyme commented on #320
You can now get the source of the MSDN Visual F# docs here : https://github.com/Microsoft/visualfsharpdocs.

[2016-06-07 22:59] gitfoxi commented on #320
Thanks @dsyme

[2016-06-12 18:09] bryanedds opened #577 "BadImageFormatException in Prime unit test when --optimization is disabled."
#### Repro steps

1. Pull down Prime code library from https://github.com/bryanedds/Prime.git

2. Open the Prime.sln solution found in ./Prime/Prime folder (should open with VS2015).

3. Ensure program configuration is set to Debug (should be by default).

4. Hit F5 to run program.

#### Expected behavior

The program executes and passes a single unit test called EventTests.productWorks () in Prog

[2016-06-12 18:54] bryanedds commented on #577
Update - I posted this here as well - https://github.com/Microsoft/visualfsharp/issues/1257

I'm not sure if this should be closed here or not. Please advise (or close).

[2016-06-12 20:46] bryanedds commented on #577
Definitely wrong repo.

[2016-06-12 20:46] #577 closed

[2016-06-15 19:20] arctiq1 opened #578 "Fsharpi throws OutOfMemoryException"
Running this code as a whole causes a OutOfMemoryException, while in parts it works as expected:
[code]
Should result in seq\<Enu[]\>, but results in OutOfMemoryException, when executed all at once.

#### Related information
On windows with fsi 14.0.23413.0 it works, on fedora with fsharpi version from repository it doesn't.

Sorry if this is a problem on my part.

[2016-06-15 20:23] dsyme commented on #578
This must be a Mono problem.  Could you run ``mono --version`` please.  It would be good to check against the latest packages available from http://fsharp.org/use/linux

[2016-06-15 20:38] arctiq1 commented on #578
[code]

[2016-06-15 20:43] arctiq1 commented on #578
I have just tried to re-add and update repositories and packages as per the fsharp.org guide, but no change.

[2016-06-16 04:53] Banashek commented on #578
Happening in docker with fsharp/fsharp:latest image as well.

[code]

[2016-06-17 18:28] devjuice opened #579 "When a function with seq type parameter is a record field, it won't accept list or array any more."
Please see the below code.

[code]

I don't understand why ``Seq.head`` and ``fund.f`` behavior differently here. It looks like a compiler bug to me. However, if this is by design, can anyone help explain a little bit to me? Thanks a lot!

[2016-06-18 00:28] dsyme commented on #579
This is by design. The rule called "14.4.3 Implicit Insertion of Flexibility for Uses of Functions and Members" is only applied to uses of functions and members, not uses of record fields.

[2016-06-18 00:29] dsyme commented on #579
It's a good question - it may make sense to get the answer recorded on stack overflow?

[2016-06-18 00:29] dsyme commented on #578
Please make sure a Mono bug is entered for this on the Xamarin bugzilla bug tracking system

[2016-06-18 11:21] arctiq1 commented on #578
Added it as [OutOfMemoryException while working with seq: id 41970.](https://bugzilla.xamarin.com/show_bug.cgi?id=41970)
Hopefully it's correct, I have no experience with either bug tracking system.

[2016-06-19 01:08] devjuice commented on #579
Thank you for your quick answer. I just posted the answer to [stackoverflow](http://stackoverflow.com/questions/37903022/when-a-function-with-seq-type-parameter-is-a-record-field-it-wont-accept-list/37903031).

May I ask why implicit insertion of flexibility doesn't apply to record fields? :-)

[2016-06-21 22:00] dsyme commented on #579
@devjuice Technically speaking it could.    Please add a request at http://fslang.uservoice..com.

One view is that it might be seen to be odd to introduce genericity at points where the equivalent genericity can't be written manually by adding constrained type variables.  As of  F# 2.0, record fields can't themselves be generic (prior to that we did allow this - and it was a major source of compl

[2016-06-23 10:23] ant0nsc opened #580 "Type inference for a record/class behaves differently when module is open or not"
In a module that defines a record `R` and a discriminated union type where one case is called `R`, type inference is able to distinguish between the 2 types when the module is open, but not when I qualify the type name with the module name. Is that a bug or by design?

Tested in `Microsoft (R) F# Interactive version 14.0.23413.0`

#### Repro steps

    module Module =
        type R = { a: int } w

[2016-06-27 14:18] xperiandri opened #581 "Augmented members considered incorrect even though all conditions are satisfied"
I want to compile such a piece of code

[code]

And all the conditions are satisfied: same file, same namespace.

#### Expected behavior

Successful compilation

#### Actual behavior

`error FS0644: Namespaces cannot contain extension members except in the same file and namespace where the type is defined. Consider using a module to hold declarations of extension members.`

#### Related informatio

[2016-06-28 14:53] dsyme commented on #581
@xperiandri It must be the same namespace declaration group. The error message should be clarified.  Either way, this should go in http://github.com/Microsoft/visualfsharp, see README.md

[2016-06-28 14:53] #581 closed

[2016-06-28 14:53] #579 closed

[2016-06-28 14:55] dsyme commented on #501
Closing as presumed external

[2016-06-28 14:55] #501 closed

[2016-06-28 14:56] dsyme commented on #571
Closing as external

[2016-06-28 14:56] #571 closed

[2016-06-28 14:57] dsyme commented on #580
This looks somewhat similar to https://github.com/Microsoft/visualfsharp/issues/1253

Either way, please enter this at http://github.com/Microsoft/visualfsharp, per README.md, and add a link back here.  Thanks

[2016-06-28 14:58] dsyme commented on #580
Closing here, per comment above

[2016-06-28 14:58] #580 closed

[2016-06-28 15:00] xperiandri commented on #581
Why does such a weird restriction exists?
What is not valid in my scenario?

[2016-06-29 14:28] haf opened #583 "MSBuild and F# 4.0 broken with Mono 4.4.1 on OS X"
When building Logary with Mono 4.4.1, tests (specifically Heka tests) don't run on OS X because it seems the F# targets move the reference dlls into the app folder; which then the mono runtime tries to use for execution, which cause IL errors since they are missing method bodies.

#### Repro steps

Provide the steps required to reproduce the problem

1. Check out Logary
2. Build logary with `bundl

[2016-07-05 10:13] haf commented on #583
Ping, this is rather urgent.

[2016-07-05 13:00] akoeplinger commented on #583
This turns out to be because albacore (before v2.5.14) prefers `msbuild` over `xbuild`. In Mono 4.4 we shipped a preview version of the xplat OSS MSBuild under that name, so it gets used automatically.

However, there seems to be an issue in that this causes the reference assemblies (they contain no actual IL) of some framework libraries like System.Security.dll are copied to the output folder, wh

[2016-07-08 23:06] erozenfeld commented on #575
The bug was fixed in RyuJIT in coreclr:
https://github.com/dotnet/coreclr/pull/5394
https://github.com/dotnet/coreclr/commit/f22b221718f3a243d4fc3fba4e037c2a9524718c

[2016-07-15 17:35] dsyme commented on #583
@akoeplinger Is there a workaround?

[2016-07-15 17:37] gbaydin opened #584 "Inlined function causes "FS0078: Unable to find the file" error in F# Interactive with .NET Core library"
Hi, I'm working on porting my DiffSharp (http://diffsharp.github.io/DiffSharp/) library to .NET Core. I can compile it successfully with .NET Core CLI, targeting .netstandard1.6 and net45.

However, when I try to work with the compiled .netstandard1.6 dll in F# interactive, I encounter a bug.

I isolated the problem to the following minimal example that reproduces it:

#### Repro steps

My project

[2016-07-15 17:47] akoeplinger commented on #583
@dsyme yes, the workaround is making sure xbuild is used instead of msbuild.

The latest version of albacore does that: https://github.com/Albacore/albacore/commit/fadb48f3a7ed3d8c081b370ca7786fa31bded9db

We're also discussing renaming msbuild to msbuild-preview to prevent this for the time being.

/cc @migueldeicaza

[2016-07-16 10:25] dsyme commented on #584
There's a tentative fix for this in https://github.com/fsharp/fsharp/pull/585

[2016-07-16 12:19] dsyme opened #586 "FSharp.Compiler.Tools nuget is not builing correctly in AppVeyor"
[code]

[2016-07-16 20:08] dsyme commented on #586
Should be fixed by https://github.com/fsharp/fsharp/pull/587

[2016-07-16 20:12] dsyme commented on #464
@jhugard The linked Mono bug is resolved as fixed - do you think we can now close this issue? Thanks

[2016-07-16 21:16] #586 closed

[2016-07-16 21:19] dsyme commented on #584
@gbaydin I believe this is fixed in tag 4.0.1.3.  If you could try the ZIP of tools from https://ci.appveyor.com/api/buildjobs/j4aar9dehl76umw9/artifacts/lib/release.zip that would be great

[2016-07-16 21:19] #584 closed

[2016-07-17 18:53] gbaydin commented on #584
@dsyme, I tried the tools inside the zip file.

The problem is indeed fixed.

:)

[2016-07-17 22:47] dsyme commented on #584
Thank you for confirming this, that is very helpful

[2016-07-18 06:56] #517 closed

[2016-07-18 17:00] akoeplinger commented on #583
The decision was to not do this. Users will need to make sure to use xbuild on Mono if they run into issues with the xplat OSS MSBuild (e.g. by using latest albacore).

[2016-07-21 04:56] fusion809 opened #591 "FSharp 4.0.1.5 failed to build on Arch Linux"
Hi,

I tried to build this program with `./autogen.sh --prefix=/usr && make` and it gave the error:

[code]

Version 4.0.1.1 builds fine though, using the same procedure. Mono version is 4.4.1. Any ideas as to why I'm getting this build error?

Thanks for your time,
Brenton

[2016-07-21 11:37] tathanhdinh commented on #591
I have got also this error yesterday, it can be fixed by commenting the line

following the `build-proto` target in `fsharp-4.0.1.5/fsharp/src/Makefile`

[2016-07-21 12:16] soimort commented on #591
Removed that line and another error is thrown:

[code]

[2016-07-21 13:26] soimort commented on #591
It seems the package version of `FSharp.Compiler.Tools` needs to be updated (from 4.0.0.1) to:

[code]

to reflect the fix in d995c590c2daed74ccb43d519f74623027506da7, otherwise it won't build on systems where `4.0/Mono.Posix.dll` doesn't exist.

[2016-07-21 23:09] tathanhdinh commented on #591
There may be not this problem about `Mono.Posix.dll` on my system (I have used Fedora with repos of Mono Project), so after commenting out this line; fsharp compile nicely.

[2016-07-21 23:25] fusion809 commented on #591
My error is fixed, see https://github.com/fusion809/fsharp for my PKGBUILD that successfully builds FSharp 4.0.1.5.

[2016-07-21 23:33] dsyme commented on #591
There are a number of glitches mentioned above

* I deleted the ``ls -R`` line since it's just diagnostics and it was mentioned as a problem above
* I submitted [this PR to update the compiler tools to 4.0.1.3](https://github.com/fsharp/fsharp/pull/592) since that was mentioned as a problem - can anyone confirm the issue and whether this fixes things?  Does anyone know why Mono.Posix.dll 4.0.0.0 m

[2016-07-21 23:34] dsyme commented on #591
@fusion809 @tathanhdinh @soimort Please indicate if other fixes are needed to get the latest tags building cleanly

[2016-07-21 23:37] fusion809 commented on #591
Just built v4.0.1.8 with the aforementioned PKGBUILD without issue, so from my point of issue this issue is still resolved.

[2016-07-22 09:48] tathanhdinh commented on #591
@dsyme if I am not wrong, the `tar.gz` and `zip` of `v4.0.1.8` are the same as `v4.0.1.7-alpha`, they are both `84d78c4` !? (I have checked them, the content of unarchive folders are the same). Otherwise, I have changed all strings `4.0.0.1` to `4.0.1.3` in several files, and it is built nicely.

[2016-07-22 11:21] dsyme commented on #591
@tathanhdinh Yes, the alpha tag was used for the FSharp.Core nuget pakage (which has stayed identical since 4.0.1.3, just the 4.0.1.7-alpha also includes an alpha of the FSharp.Core for .NET Core)

[2016-07-22 16:58] jhugard commented on #464
@dsyme Having trouble rebuilding the whole stack (including Mono) from source; plus, it takes forever on the Raspberry Pi because I'm not cross compiling.  LLVM runs out of memory when linking, so am retrying without llvm support.  Will probably take several more days to vet this one way or the other.

[2016-07-23 08:15] knocte commented on #464
Do you have swap memory enabled?

[2016-07-23 20:08] jhugard commented on #464
@knocte Yes.  Have an 8GB swap partition active on the mounted USB drive.
[code]

[2016-07-24 23:04] jhugard commented on #464
llvm issue fixed by compiling for release + arm only.

[2016-07-25 23:18] jhugard commented on #464
Turns out mono has moved to a git submodule for llvm (which grabs the appropriate version), but it needs to have a make command run independently (`pushd llvm && make reset-llvm && popd`).  Mono master now builds with LLVM.  FSharp master now builds.  However, I receive the following error trying to `make install` the FSharp project:

[code]

[2016-07-25 23:34] jhugard commented on #464
@dsyme Fail, but for different reasons.  First, see the blocker above (failure to install).  Manipulating my PATH to include the project `~/.../fsharp/lib/release` folder results in different errors.  However, I'm not sure that Mono loads DLL's from the path, so it may be picking up an older build of FSharp.  Either that, or the tests are in fact broken:

[code]

[2016-07-27 11:43] haf opened #594 "åäö - latin characters broken in interactive"
Please provide a succinct description of the issue.
#### Repro steps

Provide the steps required to reproduce the problem

TERM_PROGRAM_VERSION=3.0.4
TERM_PROGRAM=iTerm.app

[code]
1. Start `fsharpi` on OS X
2. Type `ä` with a Swedish keyboard.
3.
   <img width="138" alt="screen shot 2016-07-27 at 13 38 48" src="https://cloud.githubusercontent.com/assets/193115/17174147/a3073116-53ff-11e6-8f72-6ae

[2016-07-29 11:16] haf opened #595 "F# 4.0 stuck at .Net 4.5.0 compat-level"
There's currently no way to reference nugets or DLLs which have a higher level than .Net 4.5, because when changing TargetFrameworkVersion inside `fsproj` files, the compiler complains:

[code]

#### Repro steps

 1. Create a new F# library
 2. Change the target version to 4.5.2
 3. Watch it crash as you try to use it/warning as you compile it.
 4. Alternatively add Topshelf 4.x, which has a lowes

[2016-08-01 12:50] dsyme commented on #595
@haf That looks like an MSBuild issue - the ToolsVersion 4.0 refers to an MSBuild version number.  Have you tried changing ToolsVersion to 12.0 at the top of your project file?

Also, could you clarify the repro when you say "1. create an F# library", so we can know exactly how that library is created and the resulting project file?

[2016-08-01 12:52] dsyme commented on #594
@haf  It would be good to get a better understanding of where the problem might be here  - console processing can be a bit of a mystery.  I assume this is not a regression?

[2016-08-01 12:53] dsyme commented on #464
@jhugard Yes, feels like it's picking up an old version of F#.  Did the ``make install`` step succeed?

[2016-08-01 13:56] haf commented on #594
No, it's been like this forever but I finally got around to reporting it. Works fine in Xamarin Studio though.

[2016-08-01 13:59] haf commented on #595
I think the warning about tools version is related to xbuild not implementing the same feature-set, hence the MSBuild port. ToolsVersion=4 has been used in Xamarin Studio for years now, so it's probably safe to ignore that warning; it's the default version for sln files created in it.

If I change to v12 then xbuild doesn't compile the library.

Using the xplatform msbuild is blocked on #583 so th

[2016-08-01 14:23] dsyme commented on #595
@haf Thanks.

    F#'s compiler complains when compiling the fsproj file.

OK, but is it correct to say that this is xbuild complaining?   AFAIK the F# compiler doesn't emit a complaint when referencing 4.5.2 DLLs?

I'm not yet sure there's a specific adjustment we can make in the F# compiler or FSharp.Build support here.

[2016-08-01 14:29] haf commented on #595
I don't know; what command do you then run, when you reference a 4.5.2 assembly on mono?

[2016-08-01 15:05] dsyme commented on #595
@haf What I mean is this: is it the execution of "fsharpc" giving the error?  Or the execution of ``xbuild`` (before the invocation of ``fsharpc``).  If the former, then we have a problem with the F# compiler (this repo).  If the latter, then  it is either a problem with ``xbuild`` itself, or with the projecct file (e,.g. incorrect ToolsVersion), or with the Microsoft.FSharp.targets+FSharp.Build (

[2016-08-01 23:02] akoeplinger opened #597 "Microsoft.Portable.FSharp.Targets with different casing in repo"
The file is present twice in fsharp/src/fsharp/FSharp.Build, with different casings. This causes issues/confusion on case-insensitive file systems. One of the files should be removed.

![image](https://cloud.githubusercontent.com/assets/1376924/17311557/8e46bf5c-584c-11e6-8973-2097bc131106.png)

[2016-08-02 22:39] dsyme commented on #597
This _should_ be fixed by #599. However it fails

[2016-08-02 22:42] #597 closed

[2016-08-02 22:42] dsyme commented on #597
OK, the deletion above works, but may require an explicit

    git checkout -f src/fsharp/FSharp.Build/Microsoft.Portable.FSharp.targets

[2016-08-03 21:30] tpetricek opened #600 "Difference between FSharp.Compiler.Tools 4.0.0.1 and 4.0.1.3"
Is the [4.0.1.3](https://www.nuget.org/packages/FSharp.Compiler.Tools/4.0.1.3) version of FSharp.Compiler.Tools supposed to be have the same behaviour as version 4.0.0.1 on .NET (non-Core) on Windows?

On 4.0.0.1, running `fsc test.fs` with minimal hello world sample work, but with 4.0.1.3, I get:

Or is the 4.0.1.3 version supposed to be .NET Core only?

[2016-08-05 12:34] dsyme commented on #600
@tpetricek The Nuget package should work as before on .NET Framework (it is not ".NET Core only" - and there are no plans for that to be the case), so this is a bug.

I think it has been fixed and we need to just push a new nuget.

Could you try a later version from CI please - e.g. 4.0.1.7 (https://ci.appveyor.com/project/fsgit/fsharp/build/4.0.1.7-b543/artifacts) or freshly tagged 4.0.1.9? https

[2016-08-05 13:39] tpetricek commented on #600
Perfect, the new version from CI works :+1:

[2016-08-05 13:45] dsyme commented on #600
4.0.1.10 pushed to nuget.org

[2016-08-05 13:45] #600 closed

[2016-08-07 16:21] haf opened #601 "PCL isn't a thing according to fsharp.org"
According to [fsharp.org](http://fsharp.org/guides/mac-linux-cross-platform/#portable-libraries)

<blockquote>
At the time of writing, creating portable libraries was not yet fully supported in IDES on Mac and Linux, though you can normally build portable libraries successfully using xbuild and command-line tools on these platforms. If you are developing on Windows, or using libraries on Windows,

[2016-08-07 22:59] 7sharp9 commented on #601
Portable libs are supported in Xamarin Studio

[2016-08-08 13:03] dsyme commented on #601
@haf We should really have a specific document on this at http://fsharp.github.io/

The project file fragments in http://fsharp.github.io/2015/04/18/fsharp-core-notes.html#examples-of-how-project-files-reference-fsharpcore-and-the-f-targets-file are a good start.

[2016-08-08 14:08] haf commented on #601
There should also be a checklist of where to find the alternative APIs and what the different numbers `78`, `258` etc mean for library authors.

[2016-08-19 17:53] Thorium opened #603 "Custom Query Operators Fails at Runtime?"
I can extend QueryBuilder with custom operators, e.g.:

[code]

Then I can actually use them like:

[code]

But the problem is that F# LINQ Query translator doesn't like them on runtime:

[code]

The problem is this file:

https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/Query.fs

[2016-08-23 22:07] xperiandri opened #604 "A method with the same name as DU counstructor"
Why can't I create a static method with the same name as discriminated union constructor or static method generated from it?

Neither this
[code]
Nor this does work
[code]

And I wonder why because the number of parameters is different!

#### Expected behavior

If the list of parameters of DU constructor and the static method with the same name is different, it compiles well.

#### Actual behavior

[2016-08-24 07:45] forki commented on #604
you should post this to visualfsharp repo.

[2016-08-24 08:37] xperiandri commented on #604
OK, I just wonder why.

[2016-08-24 08:39] forki commented on #604
because that's the compiler issue repo. this one here is only for packaging the compiler for mono.

[2016-08-24 11:41] forki commented on #604
mady that sample self-contained:

    type Dimension = int
    type TypeSize = int
    type Length = int
    type Profile = | Profile of int*int

    type ElementDimensions =
        | Inherited of Length : Dimension
        | TypeSizeDimensions of TypeSize : TypeSize * Length : Dimension
        | CustomDimensions of Profile : Profile * Lenght : Dimension
        static member NewCustomDimensions

[2016-08-24 11:43] forki commented on #604
![image](https://cloud.githubusercontent.com/assets/57396/17929405/aa24d9e6-6a00-11e6-8f95-9b8f44891b1e.png)

CreateCustomDimensions would work.

[2016-08-24 23:03] xperiandri commented on #604
Got it.
Thanks, however it won't look consistent to C# consumer

[2016-08-24 23:57] 7sharp9 commented on #604
You probably wouldn't want to expose a DU to a C# consumer anyway.

[2016-08-25 21:10] xperiandri commented on #604
@7sharp9, why not, it is convenient.
@forki, reposted as https://github.com/Microsoft/visualfsharp/issues/1488

[2016-08-26 13:51] dsyme commented on #603
Closing since this is tracked by the Microsoft\visuafsharp issue

[2016-08-26 13:51] #603 closed

[2016-08-26 18:14] haf opened #605 "F# on .Net Core: 'Task<'disposable>' is not compatible with the type 'IDisposable'"
[code]

Fails on the last line. The "normal" compiler infers that `xT'` is of type `IDisposable`.

See https://github.com/Hopac/Hopac/pull/118 specifically [this line](https://github.com/Hopac/Hopac/pull/118/files#diff-dc7fa8db6e7a7c5c82df48c459590103R35)

[2016-09-05 12:49] koromorix opened #606 "Can not debug `dotnet` project"
#### Repro steps

	mkdir f#
	cd f#
	dotnet new --lang F#
	code .

VSCode brings up messages telling me to add assets and restore, so I do.

I change "Program.fs" to read:

	open System

	[<EntryPoint>]
	let main argv =
	    raise (Exception("ERR"))
	    0

Then I open the debugger and hit play.

#### Expected behavior

Debugger brings me to line 5 of Program.fs.

#### Actual behavior

I get taken

[2016-09-05 15:55] enricosada commented on #606
@koromorix good bug report!

Debugging is not yet supported in dotnet core because work portable pdb is not completed.
The .pdb files are generated but doesnt work atm

[2016-09-05 15:56] enricosada commented on #604
@dsyme this can be closed

[2016-09-06 17:22] #604 closed

[2016-09-09 10:58] enricosada commented on #605
@haf can you close this one? is a dupe of Microsoft/visualfsharp#1503

as per [CONTRIBUTING.md](https://github.com/fsharp/fsharp/blob/master/CONTRIBUTING.md)

Is the issue a general bug in the F# compiler/core library? Use the Microsoft/visualfsharp repository

[2016-09-12 17:14] #605 closed

[2016-09-17 11:21] ismail opened #607 "Release tarball should contain the build dependencies."
On openSUSE builders we have no internet access during build hence the "nuget restore" part of the build fails. It would be nice if the release tarball already had the needed packages (create the tarball after doing nuget restore).

[2016-09-18 12:11] matthid opened #608 "Latest 4.0.1.7-alpha is packaged incorrectly for a netcoreapp."
When using the latest alpha package instead of "Microsoft.FSharp.Core.netcore" in a netcoreapp application the dotnet cli will not copy "FSharp.Core.sigdata" and "optdata" to the output directory because it is packaged incorrectly
#### Repro steps

Create a new package using `FSharp.Compiler.Service`, when you try to compile code at runtime you get:

[code]
#### Expected behavior

It should work l

[2016-09-21 16:09] dsyme opened #609 "Static dependencies System.Collections.Immutable and System.Runtime.Metadata not included in Mono release"
The F# compiler now has static dependencies on System.Collections.Immutable and System.Runtime.Metadata. However these DLLs are not included in Mono packaging and are not available in the Mono version of the .NET Framework.  We need to work out what to do about this.

[2016-09-21 16:10] dsyme commented on #609
I’m going to take another crack at using the F# compiler  /staticlink option, that would be by far the easiest path if we can get it to work

Thanks
Don

From: Don Syme
Sent: 21 September 2016 16:22
To: Kevin Ransom (kevin.ransom@microsoft.com) <kevin.ransom@microsoft.com>; Jo Shields <joshield@microsoft.com>
Subject: Dependencies and Mono packaging of F# compiler

Hi Kevin, Jo,

I’m trying to upd

[2016-09-22 17:50] matthid commented on #608
OK, found https://github.com/fsharp/fsharp/issues/566 and therefore https://github.com/fsharp/fsharp/pull/590
Seems like `NupkgMerge` doesn't do what we want?
Or was the 4.0.1.7-alpha version already generated with the merge tool from @enricosada?
Who published it and/or still knows?
/cc @dsyme @forki

[2016-09-23 12:49] dsyme commented on #608
The package pushed to nuget is the one from AppVeyor, prepared by [these lines in appveyor.ps1](https://github.com/fsharp/fsharp/blob/master/appveyor.ps1#L34)

[2016-09-24 19:31] eggapauli opened #611 "Diamond dependencies of fsx file doesn't work"
I have a set of fsx files where the dependency graph is a diamond (i.e. "a.fsx" loads "b.fsx" and "c.fsx", "b.fsx" and "c.fsx" both load "d.fsx").
When loading "a.fsx" in fsi it tells me that "The namespace or module 'D' is not defined".

#### Repro steps

1. Create four fsx files:
  * a.fsx:

            #load "b.fsx"
            #load "c.fsx"
            B.writeB()
            C.writeC()
  * b.f

[2016-09-26 19:25] dsyme commented on #611
This is fixed in master of both fsharp/fsharp and Microsoft/visualfsharp

[2016-09-26 19:25] #611 closed

[2016-09-26 19:25] dsyme commented on #609
Fixed in 4.0.1.11

[2016-09-26 19:25] #609 closed

[2016-09-26 19:26] dsyme commented on #608
@enricosada @ncave @matthid Help with this would be greatly appreciated :)

[2016-09-27 08:00] fusion809 opened #613 "FSharp 4.0.1.11 gives FS0078 error upon interactive startup on Arch Linux"
Hi,

FSharp 4.0.1.11 when starting interactive mode fails with the error message:

[code]

#### Reproduction steps

1. On Arch Linux build and install FSharp 4.0.1.11 with the following PKGBUILD, by running `makepkg -sifC --noconfirm`:

[code]

2. Type `fsharpi` in a terminal window and press <kbd>Enter</kbd> or <kbd>Return</kbd>.

#### Related information

Provide any related information

* Opera

[2016-09-27 20:19] dsyme commented on #613
@fusion809 @soimort Thanks for the quick report.  See my attempted fix in https://github.com/fsharp/fsharp/pull/615

[2016-09-27 20:27] afarah1 opened #616 "Fsharp >=4.0 fails to build on Gentoo Linux"
#### Reproduction
1. Clone and install mono as described in "Option 3" from http://fsharp.org/use/linux/
2. Clone and install fsharp according to "Option 3" as well, to the same prefix as mono

Alternatively, use "Option 5" and see [this bug report](https://bugs.gentoo.org/show_bug.cgi?id=564480) for details.
#### Expected behavior

fsharp should build without errors
#### Actual behavior

fsharp f

[2016-09-27 21:37] dsyme commented on #613
Try tag 4.0.1.12

[2016-09-27 21:53] fusion809 commented on #613
Thanks :+1:.

[2016-09-27 21:55] #613 closed

[2016-09-28 16:28] hasufell opened #617 "build: hangs indefinitely on 'nuget restore'"
[code]

System:
Exherbo Linux, fsharp master branch, mono-4.2.2.30

[2016-09-29 20:14] phreme commented on #617
The same happens on freshly installed Fedora, mono 4.2.4.

[2016-09-30 11:13] dsyme commented on #617
I don't see anything indicating what the problem might be - my guess is a nuget.org or myget.org problem.  I've removed myget.org here: https://github.com/fsharp/fsharp/pull/619/, if that passes CI then please try it out to see if it fixes the problem?

[2016-09-30 11:56] hasufell commented on #617
Pretty much the same, except that I also get some warnings now:
[code]

[2016-09-30 12:40] dsyme commented on #617
That warning should be fixed now

Strange - I don't know why nuget is timing out for you - it is ok for me

[2016-10-09 13:38] AntonioL opened #620 "Strange behaviour with member constraints having multiple arguments"
Member constraints with multiple non tupled arguments seem to not be working in F#.

#### Repro steps

[code]

I admit that it could be due to my ignorance regarding member constraints, if that is the case please close this report, I have checked the documentation and could not find any information about the matter.

#### Expected behavior

The above should compile as the Drawer class effectively

[2016-10-09 23:26] tathanhdinh opened #621 "Object reference not set to an instance of an object"
#### Repro steps

1. Create a default Fsharp project with mono-develop

2. Build this project

#### Expected behavior

Build should be success without any warning nor error.

#### Actual behavior

`/usr/lib/mono/fsharp/Microsoft.FSharp.Targets: error : Error executing task Fsc: Object reference not set to an instance of an object`

#### Related information

* This bug happens with `master` version

[2016-10-10 09:23] knocte commented on #621
What version of monodevelop please?
Also, it seems this bug should be submitted in http://bugzilla.xamarin.com/, not here.

[2016-10-10 20:37] tathanhdinh commented on #621
I am not sure whether it is a bug of `MonoDevelop` or not. Someone has a similar issue [here](https://bugzilla.xamarin.com/show_bug.cgi?id=44801). I found also that the file `Microsoft.FSharp.Targets` and the corresponding dll of the task `Fsc` are generated when building and installing `fsharp`.

[2016-10-11 02:08] knocte commented on #621
To figure that out, we need to reproduce your exact problem. And to do that, we need more information from you. You still haven't told us what operating system are you using, what version of it, and what version of monodevelop (and how did you install it).

[2016-10-11 10:21] hasufell opened #622 "travis-autogen.sh syntax error"
https://travis-ci.org/fsharp/fsharp/jobs/164001947#L1003

Ubuntu uses `dash` as default shell (except for login shell), not bash, so either the shebang must be fixed or the script must be POSIX compliant.

[2016-10-11 11:51] hasufell commented on #617
This seems to be an SSL issue. NuGet works when I change `https://www.nuget.org/api/v2/` to `http://www.nuget.org/api/v2/` in `.nuget/NuGet.Config`. How does NuGet interface with ssl libraries? It seems this is incorrectly shipped.

[2016-10-11 22:38] dsyme commented on #622
@hasufell Could you submit a PR please? Thanks

[2016-10-11 22:39] dsyme commented on #621
Closing as this seems to be external

[2016-10-11 22:39] #621 closed

[2016-10-11 22:40] dsyme commented on #620
@AntonioL Please report to http://github.com/Microsoft/visualfsharp, thanks

[2016-10-11 22:40] #620 closed

[2016-10-11 22:41] dsyme commented on #617
@hasufell If the build goes through when using v2, then we can still use that.

[2016-10-11 22:42] dsyme commented on #616
@afarah1 This is a failure in nuget restore - perhaps it is a certificates issue?  In any case it seems to be some problem with the Mono or nuget installation.  Perhaps related to #617

[2016-10-11 22:43] dsyme commented on #606
@koromorix Dotnet core issues should go to http://github.com/Microsoft/visualfsharp please.  This repo is the Linux/OSX packaging repo

[2016-10-11 22:43] #606 closed

[2016-10-11 22:44] dsyme commented on #595
This seems to be an MSBuild issue - either ToolsVersion or the choice of .NET Framework

[2016-10-11 22:44] #595 closed

[2016-10-11 22:45] #591 closed

[2016-10-11 22:45] #583 closed

[2016-10-11 22:45] #601 closed

[2016-10-11 22:46] dsyme commented on #607
cc @directhex who has faced similar issues

[2016-10-11 22:46] #407 closed

[2016-10-11 22:47] #497 closed

[2016-10-11 22:47] dsyme commented on #528
external bug has been fixed

[2016-10-11 22:47] #528 closed

[2016-10-11 22:51] #578 closed

[2016-10-11 22:51] dsyme commented on #578
Tracked in Mono - please ping them there if this continues to be an issue

[2016-10-11 22:52] #464 closed

[2016-10-11 22:53] dsyme commented on #419
Closing since this is tracked in the Mono bug tracking system.  Please ping them there if needed.

[2016-10-11 22:53] #419 closed

[2016-10-11 22:57] dsyme opened #623 "Regression: FSharp.Core PCL reference assemblies not installed in right location"
Since the recent work around September 28, we now have build failures when building PCL projects, e.g. https://travis-ci.org/fsharp/FSharp.Compiler.Service/jobs/166765985#L2719

Strangely we only see these when building with FSharp.Compiler.Service, so it may be an FCS bug

[2016-10-12 07:17] hasufell commented on #617
Sorry, I'm not sure I understand. It only goes through when not using https.

Ultimately, you shouldn't rely on NuGet during build time anyway. Especially source distros usually have a policy (or even sandbox) to not allow fetching during build time. Everything must be fetchable BEFORE the build starts, otherwise offline-builds etc break.

The C# based game OpenRA has worked around this in two way

[2016-10-12 09:35] dsyme commented on #623
This is either a missing Linux package on the FSharp.Compiler.Service build machine, or a recent change in the packaging of F# on Ubuntu.  It's not a core problem in the build of F#.

[2016-10-12 09:35] #623 closed

[2016-10-13 16:35] dsyme commented on #617
@hasufell My bad I thought it was v2 v v3 API

[2016-10-13 16:36] dsyme commented on #617
This is becoming trickier for the F# compiler in this repo, which has picked up some dependencies on Nuget packages.  @directhex has the same problem when preparing Debian source balls.

[2016-10-13 16:41] knocte commented on #617
Good solution for this is to use git submodules instead of nuget dependencies. It makes more sense for opensource projects.

[2016-10-14 09:18] Stratos695 opened #626 "Arch Fsharp infinite loop installation Problem"
When I try to install [4.0.1.13-1](https://aur.archlinux.org/packages/fsharp/) with yaourt I get an infinite loop. I've copied a part of the log, can you help me?

http://pastebin.com/0u5DKf0B

btw: Same issue if I edit the pkgbuild and try to use an older version.

I'm using mono 4.6.1.3 & mono-pcl 2014.04.14

Before you ask, I've read the [ build: hangs indefinitely on 'nuget restore issue ](htt

[2016-10-14 12:46] tathanhdinh commented on #621
@knocte and @dsyme : Sorry for this retard but I think this is not an external bug (i.e. coming from MonoDevelop) since I can compile successfully the same projects with `fsharp-4.0.1.10`, whereas the `master` and `4.0.1.13`.

I am using now MonoDevelop version `5.10` and Fedora 24 (kernel `4.7.6-200.fc24.x86_64`).

[2016-10-15 04:45] knocte commented on #621
Check if you can reproduce the issue with MonoDevelop 6.1 please.

[2016-10-15 05:48] jhugard commented on #464
@dsyme Sorry Don... have not been able to test this.  All my Raspberry Pi's are off-line and haven't been able to reproduce.  If I get around to playing with the Pi's again, will open another issue if I see this again.

[2016-10-15 20:23] hasufell commented on #617
The problem of nuget not doing proper ssl is because mono uses it's own certificate store. Depending on your mono installation, the store might not have been initialized yet. F* has [instructions](https://github.com/FStarLang/FStar/blob/master/INSTALL.md#on-linux-or-mac-os-x-using-mono) for that.

So the different methods of creating the mono certificate store are:
[code]

It can be debated whethe

[2016-10-17 05:07] kflu opened #627 "fsi script start up is slow (5x slower than Microsoft fsi)"
Even for the simplest script, it is very slow to start. Here're the info and measurements. I'm using Windows 10. I compare it with the "Microsoft" version, and it's 5x slower. Why?

[code]

[2016-10-17 12:42] dsyme commented on #627
You need to run

    ngen install c:\fsi\fsi.exe

[2016-10-17 12:42] #627 closed

[2016-10-17 12:45] dsyme commented on #626
Strange.  Could you show a longer log?  That build log looks OK so far

[2016-10-17 21:05] kflu commented on #627
Thanks @dsyme , I understand that ngen is to generate native image cache but I still have two questions:

1. Could it be something done at the package publication stage, or as part of the package installation? Using `ngen` requires Visual Studio installation so having customers to do this won't scale.
2. I've written quite some .NET applications and I never `ngen` any of them and still they are st

[2016-10-18 00:30] dsyme commented on #627
@kflu The F# compiler (FSharp.Compiler.dll) is a significant chunk of code that's got a pretty long hot path.  The startup time per invocation is ~2.2seconds by the look of it.

NGEN can't be used at package publication time.  It is part of the .NET Framework though, so you may be able to arrange to have this done at install:

[code]

[2016-10-18 00:31] dsyme commented on #621
@tathanhdinh Thanks the update

[2016-10-18 08:19] mfilippov opened #628 "Build failed if DefineConstants is empty."
If fsproj file not contains DefineConstants element. Build task failed with NullReferenceException.
[code]

[2016-10-18 08:28] Stratos695 commented on #626
Just tried to install it again to generate a longer log. This time it didnt't loop endlessly and worked right away. Thanks anyways. :)

[2016-10-18 08:28] #626 closed

[2016-10-19 04:51] kflu commented on #627
@dsyme ah didn't know it's part of the framework! Just tried ngen install it and it's now significantly faster.  It would be nice if this can be part of the package installation when this type of optimization is possible. I don't think regular user would know to do this kind of thing. If you agree then I can create a tracking issue for that improvement in the nuget package installation.

[2016-10-19 13:39] samritchie commented on #621
This looks similar to the failing [homebrew PR](https://github.com/Homebrew/homebrew-core/pull/5990) ([log output](https://bot.brew.sh/job/Homebrew%20Core/9575/version=any_sierra/testReport/junit/brew-test-bot/sierra/test_mono/)). Is there an incompatibility between mono 4.6.1.5 and fsharp > 4.0.1.10?

[2016-10-19 16:03] dsyme commented on #621
@samritchie Not aware of any specific problems besides the logs linked here

CI is passing OK for 4.6.1.5, e.g. see the history here: https://travis-ci.org/fsharp/fsharp/

Mono JIT compiler version 4.6.1 (Stable 4.6.1.5/ef43c15 Wed Oct 12 09:10:37 UTC 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com

[2016-10-20 00:35] samritchie commented on #621
Thanks @dsyme, as far as I can tell, this was a homebrew sandboxing problem (https://github.com/Homebrew/homebrew-core/issues/5302). A PR for the latest mono/fsharp has been merged now.

[2016-10-20 02:32] masaeedu commented on #566
So if I understand correctly, the plan is to wait until the next stable release of FSharp.Core, and distribute the NETStandard compatible bits with that? Will this mean `FSharp.Core.netcore` will disappear?

[2016-10-20 04:10] masaeedu commented on #566
Also, when this does end up being released, would it be possible to target a lower .NET Standard API, e.g. 1.3? This would greatly increase the backwards compatibility of the library.

[2016-10-20 08:06] samritchie commented on #621
Hmm, after I updated via mono I also started getting the error. It looks like it’s triggered when you have an fsproj with no `<DefineConstants>` set, meaning it will break on some templates & existing projects.

I’m unsure whether this is the correct behaviour or not?

[2016-10-20 13:15] samritchie commented on #621
Ah, nm - I’ve just seen #628

[2016-10-20 15:02] dsyme commented on #628
This should now be fixed.  Could you check please?

[2016-10-20 15:55] dsyme commented on #626
@Stratos695 Thanks for checking this, great to have this closed

[2016-10-20 15:55] dsyme commented on #628
Closing as this is, we believe, fixed, but please reopen if needed

[2016-10-20 15:55] #628 closed

[2016-10-22 00:30] tathanhdinh commented on #621
@samritchie @dsyme : many thanks, I believe that [#628](https://github.com/fsharp/fsharp/issues/628) is also the problem reported here.

[2016-10-22 14:16] Rodhern opened #630 "Question about FSharp.Core.dll versions for NuGet package "FSharp.Core"."
#### Regarding older versions of FSharp.Core.dll in the FSharp.Core Nuget package.

Is it possible to get an FSharp.Core.dll built against .Net 3.5 included in the Nuget package?

Alternatively, how do I check that the file version 2.3.50727.0 of FSharp.Core.dll already included is licensed under the Apache license? (My Visual Studio redistributable one seems to have a license with this clause "Yo

[2016-10-24 15:30] dsyme commented on #630
@Rodhern There was an explicit clause in Visual Studio 2010/2012 licensing saying that FSharp.Core could be redistributed. Really, it's not a problem.

What's your target platform for deployment?

[2016-10-24 15:31] dsyme commented on #621
@tathanhdinh Great

[2016-10-24 16:36] Rodhern commented on #630
@dsyme The target is Unity, which sometimes is run on a Windows platform and sometimes another platform. (In this case I am playing around with an add-on to the game Kerbal Space Program). Everything works fine, the only potential problem is that even though the FSharp.Core.dll file is explicitly mentioned as a redistributable, there is a set of conditions, one of which I quoted above. Anyway, tha

[2016-10-24 16:53] dsyme commented on #630
@Rodhern TBH we no longer really try to compile FSharp.Core for .NET 3.5 and before.   It might be that you can easily patch up FSharp.Core.fsproj to compile (though don't even bother trying with the compiler itself)

[2016-10-24 19:29] Rodhern commented on #630
That sounds like the way to go. Thank you.

Is it customary to leave the issue  ( #630 ) open to remind other users that the code (currently) won't compile to .NET 3.5 as-is, or do I close it now that I have gotten a good answer?

B.t.w. (unrelated): In README.md I think "ngen install ..\lib\proto\fsc-proto.exe" was supposed to be "ngen install lib\proto\fsc-proto.exe".

[2016-10-27 14:23] nosami opened #631 "NuGet Profile78 dll doesn't contain printf functions"
Reported on [Bugzilla](https://bugzilla.xamarin.com/show_bug.cgi?id=39063)
NuGet Profile78 dll doesn't contain [printf functions](https://github.com/fsharp/fsharp/blob/835b79c041f9032fceeceb39f680e0662cba92ec/src/fsharp/FSharp.Core/printf.fsi#L180-L205). Looking [here](https://github.com/Microsoft/visualfsharp/blob/1f6b0f75c73fb6e485a304560b062013167744c2/src/FSharpSource.targets#L284-L319), I don

[2016-10-27 14:48] dsyme commented on #631
I think this is by design?  That System.Console is not available in Profile 78?

[2016-10-27 14:49] nosami commented on #631
That's what I suspected at first, but then I saw https://github.com/Microsoft/visualfsharp/blob/1f6b0f75c73fb6e485a304560b062013167744c2/src/FSharpSource.targets#L284-L319 . So now I'm not sure :)

[2016-10-27 14:50] nosami commented on #631
OK. It does define FX_NO_SYSTEM_CONSOLE. I'm going code blind. Thanks!

[2016-10-27 14:50] #631 closed

[2016-10-31 08:35] miegir opened #632 "pown: unoptimal performance for negative n"
Please consider file `prim-types.fs`, function `gpown` (currently at line [6198](https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/prim-types.fs#L6198)). When `n < 0`, the `PowGeneric` should be called with `-n` instead of `n`. Perhaps one should consider the corner case of `Int32.MinValue` as in generic variant of `pown`. This fix should be done also in every specialization of `

[2016-10-31 17:13] dsyme commented on #632
@miegir Could you submit a PR to http://github.com/Microsoft/visualfsharp to fix this problem please?

This repo is for cross-platform issues

thanks
don

[2016-10-31 17:51] ninjarobot opened #633 "Switch to MIT or BSD style license?"
Is there any possibility of switching the runtime libraries to an MIT or BSD style license?  Apache 2 is generally quite friendly, but due to the terminology about patent litigation in section 3, whenever I use it, my projects are subject to a lot of additional scrutiny to ensure any possible patent litigation wouldn't cause issues with other patented technology I'm integrating with.  A more permi

[2016-10-31 21:52] TheGrandUser opened #634 "Can't use generic parameter as constraint for other parameter"
I seem to be unable to constrain one generic type to another generic type, such as in

let doThing<'D, 'B when 'D :> 'B> () = ()

I would expect this to be equivalent to the C# version

void DoThing<D, B> where D : B { }

But the F# gives me several errors
on doThing "One or more of the explicit class or function type variables for this binding could not be generalized, because they were constrain

[2016-11-01 08:03] miegir commented on #632
@dsyme Currently I have no PR and just reported this as an issue.

[2016-11-01 11:47] dsyme commented on #634
Duplicate of https://github.com/fsharp/fslang-suggestions/issues/255

[2016-11-01 11:47] #634 closed

[2016-11-05 17:19] dsyme opened #638 "Executable bit not set for fsc.exe and fsi.exe in FSharp.Compiler.Tools package"
Ideally the executable bit should be set for .EXEs in the tools directory of nuget packages so they can be run directly on Mono.  I don't know how to make this happen

[2016-11-05 17:24] dsyme opened #639 "Problems with F# scripts on Mono (esp. code the generates arrays of types being defined?)"
I was running the ``fssrgen.fsx`` script on Mono using the fsi.exe from Fsharp.Compiler.Tools.

Roughly:

     mono fsi.exe fssrgen.fsx ... FSIstrings.txt ....

These two commits shows some adjustments I needed to make to get the script to run.  Specifically before these changes the execution crashed when generic code was allocating an array of type HoleType (which is one of the type being defined

[2016-11-05 17:25] dsyme commented on #638
@forki Any idea how to do this?

[2016-11-05 17:29] forki commented on #638
Urgs not sure if paket/NuGet could do it. We need real mono experts.

/cc @7sharp9 @nosami @dnauck

[2016-11-05 17:31] dsyme commented on #638
Yeah, [this search](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=set%20executable%20bit%20nuget%20package%20mono) doesn't reveal much

[2016-11-05 17:35] forki commented on #638
/cc @emgarten @yishaigalatzer

[2016-11-05 17:39] 7sharp9 commented on #638
I normally just use chmod if I need to set executable bits /shrug

On 5 November 2016 at 17:35, Steffen Forkmann <notifications@github.com>
wrote:

[2016-11-05 17:40] dsyme commented on #638
Yes, that's the workaround here: https://github.com/dsyme/visualfsharp/blob/ae5b3ec722b64b9d44a28050d128876bfb259aa3/before_install.sh#L18

But it's wrong :)

[2016-11-05 18:00] yishaigalatzer commented on #638
Cc @migueldeicaza

[2016-11-06 00:46] michelrandahl opened #640 "Problems running script with MailboxProcessor in Mono"
When trying to run a script containing a MailboxProcessor, in Linux with Mono I get following stacktrace. _(I am able to compile the same code to an exe file and run it just fine with Mono, I just can't execute it as script with fsharpi without getting the stacktrace)_
[code]
The script
[code]

I am using
Mono version 4.6.1
F# 4.0
Linux Debian Jessie

[2016-11-06 03:35] knocte commented on #640
This is a runtime crash, thus a mono bug. Please report it here: http://bugzilla.xamarin.com/

[2016-11-06 11:41] michelrandahl commented on #640
Now filed the bug at https://bugzilla.xamarin.com/show_bug.cgi?id=46528

[2016-11-06 13:06] knocte commented on #640
Great. Please don't forget to attach a self-contained minimal testcase to the bug so that mono devs can reproduce it.

[2016-11-06 14:51] michelrandahl commented on #640
@knocte If I encounter more bugs related to Mono, what is then best practice in general? To file the bug both here and at xamarins bugzilla system?, or only at xamarins bugzilla system?

[2016-11-06 15:44] knocte commented on #640
If it's a mono bug, only in Xamarin's bugzilla. This repo is only for cross-platform F# issues not fixable in Mono codebase. For purely F# bugs (reproducible without Mono), you should file them in https://github.com/microsoft/visualfsharp

[2016-11-08 12:17] eiriktsarpalis opened #641 "Unable to build on LXSS using latest mono"
I'm getting nuget errors when trying to build OSS fsharp on Bash on Windows (LXSS) using the latest mono build.

#### Repro steps
Cloned the repo, followed the build instructions:
[code]

#### Expected behavior

Should build the F# compiler

#### Actual behavior

Failure to download the nuget dependencies of the repo:
[code]

#### Known workarounds

Unknown

#### Related information

* LXSS (aka "

[2016-11-09 17:31] dsyme commented on #632
Closing as this is not a x-plat issue

[2016-11-09 17:31] #632 closed

[2016-11-09 17:32] dsyme commented on #633
Please submit request to http://github.com/Microsoft/visualfsharp

[2016-11-09 17:32] #633 closed

[2016-11-09 17:33] dsyme commented on #630
@Rodhern It's customary to close, which I'll do, thanks

[2016-11-09 17:33] #630 closed

[2016-11-09 17:34] dsyme commented on #641
@eiriktsarpalis It looks like a mono/nugget bug unrelated to this repo.  Can you do anything with nuget feeds from nuget.org?

[2016-11-09 17:35] dsyme commented on #487
Closing old issue - or at least it needs a small self-contained repro

[2016-11-09 17:35] #487 closed

[2016-11-09 17:42] dsyme opened #642 "Using FSharp.Core nuget package causes a bad transitive dependency incompatible with .NETCoreApp 1.0"
Using the PCL version of the FsCheck 2.6.2 component gives a transitive dependency on FSharp.Core nuget package.

This causes a bad transitive dependency incompatible with .NETCoreApp 1.0

This may be driver error, e.g. perhaps we have to qualify the frameworks w.r.t. the package reference. Ugh.

#### Repro steps

Take this project.,json:

    {
      "version": "1.0.0-*",
      "name": "FSharp.Co

[2016-11-10 13:45] dsyme commented on #642
@ctaggart @enricosada @KevinRansom Any guidance on what we need to do here would be much appreciated.  There's something wrong with the metadata in the combined FSharp.Core package, produced using these lines to merge the package:  https://github.com/fsharp/fsharp/blob/master/appveyor.ps1#L31

[2016-11-10 13:59] dsyme commented on #642
Hmmm... I get exactly the same problem when using "Polly" version 2.2.1, which is a perfectly harmless C# component that only supported profile 259 back then
[code]
I don't understand why these components aren't usable in .NET Core 1.0 apps.

[2016-11-10 15:25] dsyme commented on #642
@enricosada suggested I try this

[code]

but I can't get that to work

[2016-11-10 15:40] enricosada commented on #642
another possible is to try add also (portable.compatiblity package is required anyway) in the framework section

[code]

[2016-11-10 16:00] dsyme commented on #642
@enricosada I can't get that to work - can you?

[2016-11-10 16:09] enricosada commented on #642
yes, added a [gist with readme and example project](https://gist.github.com/enricosada/02558b8962511e33f56b9d3b31fe8a7b)

[2016-11-10 16:12] dsyme commented on #642
OK, working for me now
[code]

[2016-11-10 16:15] dsyme commented on #642
I found I needed this when referencing .NET Standard 1.6 components too:

[code]

[2016-11-10 17:25] #642 closed

[2016-11-11 23:53] dsyme commented on #639
Fix submitted, need to be verified

[2016-11-13 21:41] #639 closed

[2016-11-17 02:16] sunnystormy opened #644 "Add support for SPARCv9 and RISC-V (32 and 64-bit)"
Please provide a succinct description of the issue.

I would like to learn how to add support for these two open-source instruction set architectures, if the compiler can't already compile to these targets.

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behaviour.

#### Actual behavior

Provide a description

[2016-11-18 23:31] dsyme commented on #638
@yishaigalatzer I suspect that this is a nuget issue.  Is it feasible for nuget to just set the executable bit on all .EXEs when it unzips?

[2016-11-18 23:34] yishaigalatzer commented on #638
We could look at that, but I'd like to hear feedback from the mono guys first

[2016-11-18 23:35] yishaigalatzer commented on #638
We are already "chmoding" some stuff in the shared lock folder path

[2016-11-18 23:54] joelverhagen commented on #638
Yes, this is similar to the (still open) issue in NuGet where restoring from a different user on Linux fails:
https://github.com/NuGet/Home/issues/3897

The workaround is to manually `chmod` the file or directory in question. In this particular case, I would:
[code]

[2016-11-23 07:18] mynkow opened #645 "Possible bug in f# scripting"
I am sorry if this is not for this repo. Can you please take a look at this issue because I think there is a problem in f# scripting. Keep in mind that I am new to f#

http://stackoverflow.com/questions/40750698/executing-c-sharp-code-in-f-script-has-unexpected-behavior

[2016-11-23 19:52] mynkow commented on #645
The issue us moved => https://github.com/Microsoft/visualfsharp/issues/1824

[2016-11-23 19:52] #645 closed

[2016-11-25 18:34] lilred opened #646 "Outdated man page in 4.0.0.4 (default version that ships with Ubuntu Xenial)"
In Ubuntu Xenial, the [default package](http://packages.ubuntu.com/xenial/fsharp) has F# 4.0, but `man fsharpc` says "Compiler for the F# language, version 3.0".

[2016-11-26 14:50] dsyme commented on #646
No idea where to fix this.  @directhex @RAOF  Any ideas?

[2016-11-28 10:11] directhex commented on #646
Hi Don

You're right, this is a packaging issue. @RAOF added man pages in early 2014 (commands without man pages trip the automated Debian packaging linter), but whilst missing pages trip the linter, grossly obsolete ones don't.

https://anonscm.debian.org/cgit/pkg-cli-apps/packages/fsharp.git/log/debian/fsharpc.1

[2016-11-29 12:35] sideeffffect opened #648 "Using FSharp.Compiler.Tools compiler in Visual Studio -- debuggin doesn't work"
I'm trying to use the compiler from the package [`FSharp.Compiler.Tools`](https://www.nuget.org/packages/FSharp.Compiler.Tools) 4.0.1.20 in Visual Studio 2015 instead of the one installed with VS.
Compilation works OK, but it seems to emit only optimized code, so that debugging is pretty bad (variables optimized out, not hitting breakpoints, etc) -- regardless of the commandline switches that are

[2016-11-29 18:39] dsyme commented on #648
@sideeffffect Strange. It could plausibly be a bug in the compiler in that tools version, which may in turn represent a bug in Visual Studio 2017.  But that seems to be producing debug symbols OK.

@KevinRansom Note that this FSharp.Compiler.Tools package includes all debug symbol changes in VS2017. AFAIK it should produce debug code OK.

[2016-11-29 18:41] dsyme commented on #648
@sideeffffect Could you please link to a ZIP with the necessary packages.config, source files etc.

[2016-12-06 20:27] praeclarum opened #649 "Move sigdata and optdata into FSharp.Core"
Currently, `FSharp.Core`'s sigdata and optdata are not stored in `FSharp.Core`. Instead they are put in parallel files to core.

I would like to suggest moving those files into `FSharp.Core.dll`.

### Past Rationale

Current file sizes on iOS are:

    1526272 Dec  1 08:07 FSharp.Core.dll
     326778 Dec  1 08:07 FSharp.Core.dll.mdb
     429831 Dec  1 08:07 FSharp.Core.optdata
     556780 Dec  1 0

[2016-12-06 20:29] dsyme commented on #649
@praeclarum please move to Microsoft/visualfsharp as change is need there

[2016-12-06 20:31] praeclarum commented on #649
Reposted as https://github.com/Microsoft/visualfsharp/issues/1953

[2016-12-06 20:31] #649 closed

[2016-12-08 16:38] mavnn opened #650 "Reflection gives unexpectedly different results for single and multicase discriminated unions"
Calling ``.GetType().Name`` on an instance of a multicase discriminated union reports reports the case name, while calling it on an instance of a single case union reports the union name. This is confusing at best.

#### Repro steps

1. Create two union types, one with a single case and one with several

[code]
2. Get the type name of an instance of each:

[code]

#### Expected behavior

That both

[2016-12-08 16:38] mavnn commented on #650
Unfortunately while this feels like a bug, fixing it probably causes backwards compatibility issues :(

[2016-12-08 18:39] 7sharp9 commented on #650
Needs to go to Visualfsharp repo.

On 8 Dec 2016 4:38 pm, "Michael Newton" <notifications@github.com> wrote:

[2016-12-09 14:10] sideeffffect commented on #648
hi, I just realized that things work as they should with `FSharp.Compiler.Tools` 4.0.1.20. It was broken with 4.0.1.**1**0.
would you still like the testcase for the older broken version?

[2016-12-11 06:56] leolorenzoluis opened #651 "MailboxProcessor gets a fatal error in the mono runtime"
#### Repro steps

Provide the steps required to reproduce the problem

1. Create a simple fsx script with the following code:

[code]

2. Run the script with FSI

[code]

Provide a description of the expected behaviour.

[code]

#### Known workarounds

N/A

#### Related information

N/A

* Operating system : macOS
* Branch : mono-4.6.0-branch-c8sr0/ef43c15
* .NET Runtime, CoreCLR or Mono Version :

[2016-12-16 14:56] evelinag opened #652 "Record types problem in F# interactive on Mono"
I'm having problems with F# interactive 4.1 on mono 4.8. When creating a record type and running some code using that type, F# interactive throws an exception that it can't load the record type.

I've seen the same error on several different mac laptops at the F# tutorials last week, so it's not an isolated problem.

#### Repro steps

Run the following code in F# interactive on mono:
[code]

####

[2016-12-17 02:20] nosami commented on #652
I just tried this on a brand new Mac running :-

OS X Sierra
F# Interactive 4.1
and Mono JIT compiler version 4.6.2 (mono-4.6.0-branch/08fd525 Thu Nov 10 20:28:28 EST 2016)

Same result.

[2016-12-19 10:52] mathias-brandewinder commented on #652
I can confirm I have encountered the same problem as well; saw it for the first time around mid November, had totally forgotten about it.

[2016-12-19 15:57] nosami commented on #652
Some more information :-

[code]

I noticed that there were many failed attempts to load kernel32.dll which sounds like it could be related. Will try and diagnose later (currently on hols)

I also tried compiling the script to an exe and it worked fine there. This bug only affects fsi.

[2016-12-21 19:38] jack-pappas commented on #644
This isn't an F# issue -- support for new processor architectures (like SPARCv9, RISC-V, MIPS, POWER) would need to be added in [mono](https://github.com/mono/mono) or [coreclr](https://github.com/dotnet/coreclr). When either of those projects supports the architecture(s) you want, it shouldn't require much work (if any) to get F# running on them.

Consider opening an issue on those projects to as

[2016-12-31 14:35] dsyme commented on #650
We'd treat this as by-design in any case.  Use FSharp.Reflection.FSharpType.* to get consistent refelection for union types

[2016-12-31 14:35] #650 closed

[2016-12-31 14:36] dsyme commented on #648
No its ok, thanks for updating

[2016-12-31 14:36] #648 closed

[2016-12-31 14:36] dsyme commented on #651
@leolorenzoluis  Please add a Mono bugzilla bug for this, thanks

[2016-12-31 14:39] dsyme commented on #652
@nosami Could you make sure a Mono bug is raised for this issue?

It almost certainly has to do with System.Reflection.Emit and type loading over "Builder" types.  We may need to construct a standalone repro which involves nothing but System.Reflection.Emit calls.  You can do that partly by turning on logging in ilreflect.fs in a fresh compile of fsharp/fsharp and testing with that fsi.exe

[2016-12-31 14:39] dsyme commented on #644
Closing as this is a Mono or CoreCLR issue

[2016-12-31 14:39] #644 closed

[2017-01-04 21:10] leolorenzoluis commented on #651
@dsyme Added. https://bugzilla.xamarin.com/show_bug.cgi?id=51223

[2017-01-05 16:50] nosami commented on #638
This is equivalent to `chmod +x` on Mono

(rwx user, r group, r other)

[code]

[2017-01-06 10:14] nosami commented on #652
I built fsi.exe from both FCS [(emit log)](https://gist.github.com/nosami/a4316c0a774e761f848c3e973a65eb1f)  and this repo. Both work fine but fsharpi from the mono distribution does not. I can only assume that this is an old bug that has subsequently been fixed here.

[code]

[2017-01-06 17:34] dsyme commented on #652
@nosami OK, thanks

[2017-01-11 02:52] rmunn opened #654 "Can't type Unicode between U+0080 and U+00FF in F# Interactive on Linux and OS X"
Linux Mint 18 (based on Ubuntu 16.04 LTS), F# 4.0. Unicode characters between U+0080 and U+00FF seem to be getting replaced by � (U+FFFD REPLACEMENT CHARACTER) at the F# Interactive prompt. I can include these characters in `.fsx` scripts (encoded in UTF-8) and run them just fine, but when I try to type (or copy & paste) the same characters at the F# Interactive prompt, I get � instead:

![bad-utf

[2017-01-11 02:56] knocte commented on #654
FYI bug also happens in Ubuntu16.04LTS, just tested.

[2017-01-11 06:49] rmunn commented on #654
I believe what is happening is that [the `readKeyFixup` function](https://github.com/fsharp/fsharp/blob/de709b30d9b5fdb620ff4e1d439122cdac11ffa1/src/fsharp/fsi/console.fs#L24-L42) is being called when there's no need for it on Linux. It is designed to work around an older Windows bug where `System.Console.ReadKey` would return a byte from the system codepage, rather than a Unicode character. On an

[2017-01-11 07:27] rmunn commented on #654
Debian bug report opened at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=850911.

[2017-01-12 04:37] rmunn commented on #594
This appears to be the same bug as #654. See that issue report for more details, but basically, it is caused by [the `readKeyFixup` function](https://github.com/fsharp/fsharp/blob/de709b30d9b5fdb620ff4e1d439122cdac11ffa1/src/fsharp/fsi/console.fs#L24-L42). This function is working around a bug on older versions of .Net on Windows, but in the process it's *creating* bugs on any systems that use UTF

[2017-01-26 15:07] dsyme commented on #652
@nosami Is there anything we need to be fixing in this repo for this? thanks

[2017-01-26 15:07] #646 closed

[2017-01-26 15:07] #641 closed

[2017-01-26 15:09] nosami commented on #652
@dsyme I built fsi from this repo and the bug was gone, so just need to wait for the next mono release.

[2017-01-26 15:11] dsyme opened #656 "error FS0193: internal error: No access to the given key"
When using the FSharp.Compiler.Tools 4.0.1.19 ``fsi.exe`` on a system that has no ``/etc/mono/registry`` directory we get

    error FS0193: internal error: No access to the given key

The workaround is to use ``sudo`` to run the command or create that directory.  However this should not be needed - it should be possible to run that fsi.exe without crashing on a non-sudo account

[2017-01-26 16:07] nosami commented on #652
I just double checked that the next mono will use 4.0.1.20 and this version is working fine for me.

[2017-01-26 17:30] ismail commented on #654
Why is this bug closed?

[2017-01-26 17:53] dsyme commented on #654
@ismail @rmunn I was under the impression it was a Debian bug, and that this issue should have been closed?

[2017-01-26 17:53] dsyme commented on #652
@nosami Thanks!

[2017-01-26 19:11] ismail commented on #654
For me I can reproduce this on openSUSE and we do not modify fsharp in any way.

[2017-01-26 21:40] royalstream opened #658 "Redefine some of the top-level operators to allow for custom functionality [suggestion]"
Most of the desirable unary operators have global definitions that make them unsuitable for operator overloading (for custom types). Redefining them is usually not an option because you lose the standard behavior which could break existing code.

But sometimes they can be redefined in such a way that the standard behavior remains unaffected while allowing for custom behavior.

For example, the ! o

[2017-01-27 00:45] dsyme commented on #654
@ismail OK, reopened, thanks for checking

[2017-01-27 00:45] dsyme commented on #658
@royalstream Please submit to http://github.com/fsharp/fslang-suggestions

[2017-01-27 00:45] #658 closed

[2017-01-27 14:32] dsyme commented on #656
Fixed in Compiler Tools 4.0.1.21

[2017-01-27 14:32] #656 closed

[2017-01-27 14:35] dsyme opened #659 "Add the signed FSharp.Core's for F# 4.1 (4.4.1.0 etc) to lib/bootstrap/signed"
Now F# 4.1 is basically finalized we need to add the signed F# 4.1 FSharp.Core to https://github.com/fsharp/fsharp/tree/master/lib/bootstrap/signed and publish a new FSharp.Core nuget package 4.1.0.0

(We then have to work out how to align this with the Microsoft nuget for FSharp.Core on .NET Core https://www.nuget.org/packages/Microsoft.FSharp.Core.netcore/1.0.0-rc-170122, possible by just listin

[2017-01-27 23:13] royalstream commented on #658
Will do. Thanks.

[2017-02-02 04:09] brianberns opened #660 "F# type constructor doesn't act like a function"
If I define a type like this:

`type Foo = Items of seq<int>`

I can create a `Foo` as follows:

`Items [1;2;3]`

However, the following doesn't work:

`[1;2;3] |> Items`

The error message is:

[code]

Shouldn't the compiler be able to convert an `int list` into a `seq<int>`? If the `Items` constructor was a normal function, I could invoke it either way:

[code]

Environment: F# 4 in Visual Studi

[2017-02-02 15:26] nikonthethird commented on #660
I want to point out that if you declare the constructor as another function, it works:

[code]

[2017-02-03 06:37] rmunn commented on #654
Yes, I should have posted a followup comment: I *do* think that some changes will be needed in F#'s terminal handling. I didn't post anything because I don't yet know what they are.

Thinking about it a bit more, it might be best to check the input encoding and, if it's set to UTF-8, skip the `readKeyFixup` function. That would require testing the Windows versions affected by the bug that `readKey

[2017-02-03 06:38] rmunn commented on #654
Also note that #594 is a reproduction on OS X, so this affects more than just Linux. I'll edit the issue title accordingly.

[2017-02-09 17:26] fsoikin opened #662 "FS1099 when instantiating internal delegate from another assembly"
When using a lambda expression to instantiate an `internal` delegate defined in another assembly (available via `InternalsVisibleTo`), the compiler issues `FS1099: No Invoke methods found for delegate type`.

#### Repro steps
**a.cs**:
[code]

**b.fs**:
[code]

**compile**:
[code]

#### Expected behavior
Successful compilation.

#### Actual behavior
[code]

#### Known workarounds
1. Specifying the

[2017-02-09 17:38] dsyme commented on #662
@fsoikin Per CONTRIBUTING.md please file a bug at http://github.com/Microsoft/visuafsharp first, thanks

[2017-02-09 17:48] fsoikin commented on #662
@dsyme sorry, stepped into this again :-(

[2017-02-09 17:51] dsyme commented on #662
@fsoikin No problem :) Thanks for reporting the problem :)

[2017-02-10 11:06] enricosada commented on #659
@dsyme is better to not use two packages (create issues with restore ihmo, because will not declare support for netstandard).
We should

- add netstandard assemblies in `netstandard1.6` folder
- specify deps (valuetuple) in nupkg under framework

and publish an -rc1

[2017-02-10 11:10] enricosada commented on #659
added as ref for [new sdk roadmap](https://github.com/dotnet/netcorecli-fsc/wiki/Roadmap)

[2017-02-10 11:17] enricosada commented on #660
@brianberns @nikonthethird as per [CONTRIBUTING.md](https://github.com/fsharp/fsharp/blob/master/CONTRIBUTING.md)

The issue is a general bug in the F# compiler/core library, so should be opened in the [Microsoft/visualfsharp](https://github.com/microsoft/visualfsharp/) repository. That should help track better your issue.

This repo is for packaging only.

[2017-02-10 11:18] enricosada commented on #566
ref #659

[2017-02-10 11:21] enricosada opened #663 "Add .NET Core fsc to FSharp.Compiler.Tools package"
the `FSharp.Compiler.Tools` should include a framework depended deployment of fsc as `netcoreapp1.0`

That will help run the fsc xplat having an installed dotnet sdk, just as `dotnet /path/to/fsc.dll` (it's not .exe, but .dll the netcoreapp)

file size is minimal, because a framework depended deployment doesnt contains the full netcore runtime.

Also like that, can be used by f# integration with .

[2017-02-10 11:28] enricosada opened #664 "Release 4.1.0-rc1 packages"
as version `4.1.0`

- [x] `FSharp.Core` with also netstandard #566
- [x] `FSharp.Compiler.Tools` with fsc published as framework dependent netcore app #663

[2017-02-10 12:05] nosami opened #665 "Remove restriction on static linking"
The restriction on static linking across different profiles was removed in the visualfsharp repo here :-
https://github.com/Microsoft/visualfsharp/pull/1741/commits/860256774df4b65b0e47eb8ece04b7e9a9bbf361#diff-0e57ebf050db850b5efdd7e2cb13e725

to fix https://github.com/Microsoft/visualfsharp/issues/99

Is there any reason that this hasn't been merged across? It fixes an issue with a Xaml type pro

[2017-02-12 19:52] dsyme commented on #665
@nosami It has been merged recently, we just need to move Mono to tag 4.0.1.22.  I think we can proceed with that now?

[2017-02-13 09:19] nosami commented on #665
@dsyme Thanks! 4.0.1.22 is working for me!

[2017-02-13 09:19] #665 closed

[2017-02-13 16:12] #662 closed

[2017-02-13 16:13] dsyme commented on #659
@enricosada Great, thanks

[2017-02-17 16:26] enricosada commented on #664
done https://www.nuget.org/packages/FSharp.Core/4.1.0

[2017-02-17 16:26] #664 closed

[2017-02-17 16:26] enricosada commented on #663
Done

[2017-02-17 16:26] #663 closed

[2017-02-17 16:27] enricosada commented on #608
@matthid can you close? is fixed by https://www.nuget.org/packages/FSharp.Core/4.1.0

[2017-02-17 16:27] enricosada commented on #566
done by https://www.nuget.org/packages/FSharp.Core/4.1.0

[2017-02-17 17:12] matthid commented on #608
@enricosada I trust you but will check eventually ;)

[2017-02-17 17:12] #608 closed

[2017-02-17 17:14] enricosada commented on #608
@matthid i dont trust myself, only my test suite with all os :D https://github.com/dotnet/netcorecli-fsc#build

[2017-02-19 17:13] #566 closed

[2017-02-19 19:41] masaeedu commented on #566
@enricosada I'm going to reiterate my request here; can this be targeted at a lower version of .NET Standard. Right now there are barely any runtimes that support .NET Standard 1.6, and the official advice is to use 1.4 until 2.0 is ready.

[2017-02-20 06:43] pocketberserker opened #668 "C# can not find FSharpType.IsRecord in .NET Core"
Some FSharpType and FSharpValue methods are defined by F# Type Extensions.
However, C# can not access F# Type Extensions.
And Some methods are not defined in .NEt Core( https://github.com/fsharp/fsharp/blob/4.1.0.0/src/fsharp/FSharp.Core/reflect.fsi#L266 ).

#### Repro steps

1. `dotnet new classlib -lang C#` and add `<PackageReference Include="FSharp.Core" Version="4.1.0" />`.

2. Call `Microsoft

[2017-02-20 08:56] dustinmoris opened #669 "Target lower .NET Standard"
Hi, to [follow up on this](https://github.com/dustinmoris/AspNetCore.Lambda/issues/21) I would like to ask if there was a reason that FSharp.Core is targeting NETStandard 1.6 at the moment or if the target could be lowered perhaps?

Basically the lower you can set the target while the project still builds the better it is, because it will allow more projects to use it.

[2017-02-20 11:58] dsyme commented on #566
cc @cartermp @KevinRansom

@masaeedu Please add a specific request for this to http://github.com/Microsoft/visualfsharp, as the choice of .NET Standard originates from there

The FSharp.Core package includes Profile259, Profile78, Profile7 binaries if you want to use those instead as the basis for your libraries. It also includes .NET 4.5 of course

My impression was that this had been cancelled a

[2017-02-20 12:01] dsyme commented on #669
Continuing discussion from https://github.com/fsharp/fsharp/issues/566#issuecomment-280942892

cc @cartermp @KevinRansom

@dustinmoris   Please add a specific request for this to http://github.com/Microsoft/visualfsharp, as the choice of .NET Standard originates from there

The FSharp.Core package includes Profile259, Profile78, Profile7 binaries if you want to use those instead as the basis for y

[2017-02-20 12:03] enricosada commented on #566
@masaeedu see https://github.com/fsharp/fsharp/issues/669 for lower version. it should be really lower. there is not a real reason atm, just need to be fixed in microsoft/visualfsharp (we use same deps, target version of `Microsoft.fsharp.core.netcore` package)

[2017-02-20 12:04] enricosada commented on #669
@dsyme they are right, we should lower but atm all deps/tarfgget version is the same of `Microsoft.FSharp.Core.netcore`.

target fw is not related to `NEtstandard.Library`.

[2017-02-20 12:09] dsyme commented on #669
@enricosada OK thanks. Any chance you could lower the target in http://github.com/Microsoft/visualfsharp?  is it possible? thanks

[2017-02-20 12:12] dsyme commented on #660
Closing this as it is in visualfsharp

[2017-02-20 12:12] #660 closed

[2017-02-20 12:12] #659 closed

[2017-02-20 12:15] dsyme commented on #668
@pocketberserker Per CONTIRUBITING.md this should be added as an issue to http://github.com/Microsoft/visualfsharp, thanks

It is unfortunate that C# can't call the methods in [``FSharpReflectionExtensions``](https://github.com/fsharp/fsharp/blob/4.1.0.0/src/fsharp/FSharp.Core/reflect.fsi#L363) just because of the compile names containing a ``.``.  This is definitely something we need to fix as it

[2017-02-20 13:21] enricosada commented on #669
Yes, i'll open an issue in visuafsharp repo.
I wanted to do that later (but before VS RTM), to cleanup deps a bit.

we need to:

- lower netstandard (ref [netstandard version matrix](https://github.com/dotnet/standard/blob/master/docs/versions.md)), probably netstandard1.1 or 1.0 is ok
- check deps (both fsharp.core and fsc), to remove duplicated because transitivive (maintanance) and check packag

[2017-02-20 13:23] enricosada commented on #669
we can lower version `netstandard` version there (just fixing nuspec). but better fix origin so doesnt diverge

[2017-02-20 13:35] pocketberserker commented on #668
@dsyme ok. I'll do that.

I try to use reflection and build succeeded. https://github.com/pocketberserker/FSharpNETCoreSandbox/blob/443c35362cbdd167e59ffea03c535fbc251b212e/CsNETCore/Sandbox.cs#L11
Thank you!

[2017-02-20 13:59] pocketberserker commented on #668
closing to move to visualfsharp repository

[2017-02-20 13:59] #668 closed

[2017-02-23 19:27] masaeedu commented on #566
@enricosada Thanks. Is there an issue to watch on microsoft/visualfsharp for this or does one need to be created?

[2017-02-25 14:34] hsorbo opened #671 "Problem using HttpClient on OS X under fsharpi"
Im having trouble using HttpClient in fsharpi on mono OS X El Capitan (10.11.6)
Reproduced on two machines:
1.
```Darwin xxx 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST 2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64```
 ```Mono JIT compiler version 4.6.2 (mono-4.6.0-branch/ac9e222 Wed Dec 14 17:02:09 EST 2016)```
2.
```Darwin xxx 15.6.0 Darwin Kernel Version 15.6.0: Thu Sep

[2017-02-27 18:37] enricosada commented on #566
@masaeedu  https://github.com/Microsoft/visualfsharp/issues/2501

[2017-02-27 21:47] adamss3 commented on #616
I have the same issue when trying to build on Crunchbang++ 1.0.  As mentioned above, 3.1 builds just  fine in that environment.

[2017-02-27 21:56] smoothdeveloper commented on #616
@afarah1 / @adamss3 could you look into:

Can you try to run the same command from directly and report the output here?

We are sorry it seems the error reporting from the build script isn't so great.

Thanks!

[2017-02-27 22:07] adamss3 commented on #616
user@x100eA:~/fsharp-fsharp4$ mono --runtime=v4.0.30319
/home/adamss/fsharp-fsharp4/src/fsharp/FSharp.Build-proto/../../../.nuget/NuGet.exe
restore packages.config -PackagesDirectory packages
Unable to find version '2.6.4' of package 'NUnit'.
Unable to find version '2.6.4' of package 'NUnit.Runners'.

On 02/27/2017 04:56 PM, Gauthier Segay wrote:

[2017-02-27 22:31] smoothdeveloper commented on #616
@adamss3 thanks, could you try this:

in an empty directory create `paket.dependencies` text file:

[code]

Download `paket.exe` from https://github.com/fsprojects/Paket/releases/tag/3.36.0 and put it in same directory.

call `mono paket.exe install` from that same directory

and check if this succeeds?

[2017-02-28 04:16] adamss3 commented on #616
Thanks!  That fixed my problem.

On 02/27/2017 05:31 PM, Gauthier Segay wrote:

[2017-02-28 06:59] smoothdeveloper commented on #616
@dsyme / @forki should we prepare a PR to replace `NuGet.exe` with `paket.exe` to pull packages in fsharp/fsharp repository?

[2017-02-28 07:05] knocte commented on #616
Paket uses nuget under the hood, why would nuget fail and paket succeed?

[2017-02-28 07:08] smoothdeveloper commented on #616
@knocte paket.exe uses nuget.org to download the files, but it doesn't use NuGet.exe to issue the download over http.

I believe paket.exe has been more battle tested to work on mono than NuGet.exe, especially wrt proxy or certificates issues.

[2017-02-28 07:59] forki commented on #616
I have no power to decide this

Am 28.02.2017 08:08 schrieb "Gauthier Segay" <notifications@github.com>:

[2017-02-28 08:30] knocte commented on #616
Sorry but seems such a massive hack to tell .net users to use nuget in windows and paket in linux. What is preventing nuget from implementing the paket way of doing things? Has anyone reported the mono bugs that prevent nuget to work properly with it that spawned the need for paket?

[2017-02-28 08:42] forki commented on #616
I'm sure the idea wasn't to use nuget for Windows and paket for other OSes.

Regarding nuget on mono. There is an endless stream of reported bugs and
also fixes. Unfortunately backwards compatibility broke at some point.
Anyways, which version are we using here? Has anyone tried to upgrade that?

Am 28.02.2017 09:30 schrieb "Andres G. Aragoneses" <notifications@github.com

@knocte <https://github.

[2017-02-28 10:12] dsyme commented on #616
@smoothdeveloper In theory we could switch to using paket here

However we've been trying really hard to reduce the divergence between http://github.com/Microsoft/visualfsharp and http://github.com/fsharp/fsharp, and we're almost at complete convergence right now.  I think my preference would be to try firs to update ``NuGet.exe`` to the latest version (or the same version as http://github.com/Mic

[2017-02-28 16:00] enricosada commented on #669
added https://github.com/Microsoft/visualfsharp/issues/2501 to discuss in visualfsharp repo, because here we just repackage the `Microsoft.Fsharp.Core.netcore` package into `FSharp.Core`

[2017-02-28 22:17] smoothdeveloper commented on #616
@dsyme apparently this bug is open in gentoo for long now (check the bug report link from 1st comment), they have been discussing how to get nuget to work properly in the `ebuild`.

Also, we updated NuGet recently in this repository (@adamss3 / @afarah1 would you confirm you repro the error on a recent checkout of this repository?).

This seem to be a good reason to rely on paket, at least for bui

[2017-03-01 06:52] rmunn commented on #508
Incorporating the new [Readline for .Net library](https://github.com/tsolarin/readline) (MIT licensed) into FSI would solve some (but not all) of these problems. Or if the green field project mentioned above ever happens, the Readline library may be a good starting point for the project.

[2017-03-02 11:20] ismail commented on #607
Fixed in another way.

[2017-03-02 11:20] #607 closed

[2017-03-05 00:31] matthid opened #672 "FSharp.Core.4.1.0.nupkg packaged incorrect"
While the package contains the net40 folder, this folder contains binaries compiled against net45 (can be easily checked by downloading the package and verifying with dotpeek).

This leads to various problems like:
[code]

I think this even introduced a runtime error in the FAKE test suite after updating FSharp.Core.

While looking at this it seems like the net20 binary is wrong as well and was al

[2017-03-05 06:40] smoothdeveloper commented on #672
somehow related: https://github.com/Microsoft/visualfsharp/issues/2513

[2017-03-05 07:46] matthid commented on #672
@smoothdeveloper thanks, yes this seems very related indeed. So did they drop support for net40? Otherwise I'm not sure if closing the issue was correct (well at least I don't get it)... /cc @dsyme

[2017-03-05 16:11] cdrnet commented on #672
I hope not - dropping net40 or net20 would mean downstream library packages would have to depend on different versions of the FSharp.Core package depending on the target, which is a nightmare (and not supported by Paket)

[2017-03-05 23:15] smoothdeveloper commented on #672
@cdrnet AFAIU paket supports several platforms within single nuget, in the project file it has the conditionals around the selected target framework, switching selected framework will effectively switch the references.

[2017-03-06 07:15] matthid commented on #672
@smoothdeveloper yes but not different package versions for different frameworks... as soon as a package drops a framework paket will still update it and msbuild will scream at you about missing or wrong references. You need paket groups for this.

Let's stay on topic (FSharp.Core packaging) because I need to know if this was a simple error or a decision to drop support (like @cdrnet said would hu

[2017-03-07 14:49] dsyme commented on #672
@matthid My understanding is that FSharp.Core for F# 4.0 (assembly version 4.4.0.0, nuget package version 4.0.0.1)  and beyond have assumed .NET 4.5, in the sense that they were built against that set of reference assemblies (they were likely tested against a slightly higher version at runtime).    In practice I assume the libraries worked for essentially all purposes against .NET 4.0

However the

[2017-03-07 17:18] matthid commented on #672
@dsyme Yes @cdrnet said it will be a pain for paket users as paket will happily update the package and you will get missing references (well you will probably get downgraded to default F#?)

I think we have two options:
 - Keep compiling for net40 here in this repository (and add the current build to the net45 folder)
 - distribute the old build/binary with the new package (and move the current on

[2017-03-07 17:58] dsyme commented on #672
I think this is the correct approach (it's what we do with net20 - though someone indicated there's a problem with that, is there?)

Just to say that the nuget package bundles the fully signed DLL from Microsoft, so this doesn't help...

[2017-03-07 18:06] dsyme commented on #672
@matthid Any chance you could you submit a PR to correct the paths in the nuget package? thanks

[2017-03-07 20:02] matthid commented on #672
@dsyme where to take the the old binary (and which one). IE should I checkin the old binary or download it from nuget?

I can take a look at the net20 binary as well. Can you recall where there was a problem with them beeing the old ones (F#3.0? what was the last supported version for net20?).

[2017-03-07 20:03] matthid commented on #672
Or remove net20 as I don't think it was usable in the current form...

[2017-03-07 22:16] enricosada commented on #672
@matthid you can find old signed assemblies in https://github.com/fsharp/fsharp/tree/master/lib/bootstrap/signed/.NETFramework/v4.0

[2017-03-08 19:09] matthid commented on #672
@enricosada So its already in the repository, didn't notice that, thanks :)

[2017-03-08 19:30] matthid commented on #672
@dsyme done

[2017-03-10 08:30] haf opened #674 "F# 4.1 breaks on Mono 4.6"
1. Upgrade the nuget to 4.1.
2. Compile
3. Try to run

[code]

[2017-03-10 08:43] matthid commented on #674
might be related to https://github.com/Microsoft/visualfsharp/issues/2566 or https://github.com/fsharp/fsharp/issues/672

[2017-03-10 10:11] haf commented on #674
Maybe, but mono 4.6.2 supports .Net 4.5.

[2017-03-10 15:26] dsyme commented on #674
@haf Is your FSHarp.Core marked CopyLocal (i.e. Private) so it is part of your deployed application?

I suspect you are relying on FShrp.Core being in the GAC courtesy of the Mono installation? The Mono package will currently put on FSharp.Core 4.4.0.0 in the GAC.  Eventually that will be updated (or we will have the Mono installation stop putting FSharp.Core in the GAC at all, since that's what's

[2017-03-10 16:58] matthid commented on #672
I think this is kind of urgent to fix, so I'll reopen until a new package was released...

[2017-03-10 17:30] dsyme commented on #672
4.1.0.2 pushed (though I don't think it will solve the linked problem - see my comment there)

[2017-03-10 17:30] #672 closed

[2017-03-10 18:23] 0x53A opened #676 "Investigate if and how FSharp.Compiler.Tools can override FSharpTargetsPath"
Currently the targets is always taken from the (assumed to be) installed visual studio. It should be possible to include ``Microsoft.FSharp.Targets`` in the nuget and use that.

Ref https://github.com/Microsoft/visualfsharp/pull/2575
Ref https://github.com/fsharp/fsharp/pull/675

If you want to use the targets file from the nuget package, you can replace

[code]

with

[code]

[2017-03-10 18:30] 0x53A commented on #676
Note: C# / VB have an explicit ``Microsoft.CSharp.Core.targets``, which contains just the ``CoreCompile`` target. That allows them to override just that from ``Microsoft.Net.Compilers``, taking advantage of possible new compiler options (e.g. Deterministic) without touching the rest.

We have everything in one file, so we can only override everything or nothing.

This actually looks smart, would i

[2017-03-10 21:31] #669 closed

[2017-03-10 23:13] dsyme commented on #676
This is a bit beyond me - and may be moot because of the new .NET SDK?

(I'll close this issue but pease feel free to submit PRs to here and Microsoft/visualfsharp if you think they need it)

[2017-03-10 23:13] #676 closed

[2017-03-11 11:06] haf commented on #674
<img width="512" alt="image" src="https://cloud.githubusercontent.com/assets/193115/23822732/11d5af36-0653-11e7-9f5c-d4121081c28e.png">

Well, the fsproj file is done with paket and paket is seemingly copying the dll by default.

[2017-03-11 13:35] haf commented on #654
May be causing this issue of mine: http://forum.pdfsharp.net/viewtopic.php?f=2&t=3553&p=10681#p10681 I must have spent 2 days on this not realising that it's may be the F# interactive that breaks my invoicing.

[2017-03-11 13:37] haf commented on #594
This is not a discussion, this is a really bad bug in the FSI.

[2017-03-11 13:39] haf opened #678 "FSharp.org is HTTP (should be HTTPS)"
The link at the top of this repo is towards http://fsharp.org/

Nowadays we should be using HTTPS, at the very least to show that F# is a modern language, but also to ensure the authenticity of data sent from the server to the client and avoid behavioural tracking or interception is what may very well be an infrastructure-critical language/reference site.

[2017-03-14 09:59] enricosada opened #682 "use major.minor.patch for packages"
the `FSharp.Core` package use 4 digits (like `4.1.0.2`)

the nuget is going [to use semver 2.0](https://github.com/NuGet/Home/wiki/SemVer-2.0.0-support) and will already try to [normalize version numbers](https://docs.microsoft.com/en-us/nuget/create-packages/dependency-versions#normalized-version-numbers) at resolution phase.

I think is better to just embrace semver versioning, so three digits.

[2017-03-14 15:25] dsyme commented on #682
Sure. Please submit a PR if you like to bump to 4.1.2?

[2017-03-15 10:16] nosami commented on #652
4.0.1.20 had to be reverted temporarily as it's not building against Mono 4.9 :(

[2017-03-17 15:24] #682 closed

[2017-03-20 23:20] nosami commented on #652
Just realised that I wasn't clear in the last message. The bug reported here is fixed in the latest stable (Mono 4.8) .. it's currently just Mono 4.9 that has issues.

[code]

[2017-03-21 10:46] enricosada opened #684 "FSharp.Build .net full is not aligned to netcore version in FSharp.Compiler.Tools nupkg"
in `FSharp.Compiler.Tools` 4.1.1

the `/tools/FSharp.Build.dll` is stale (for example the Fsc task doesnt support `SkipCompilation` property).
the `/build/netcoreapp1.0/FSharp.Build.dll` is up to date

/cc @mrward

using new fsproj, the error will be

[code]

workaround for that is use `FSharp.NET.Sdk` 1.0.1 (not 1.0.2)

[2017-03-21 13:14] nosami opened #685 "Doesn't compile with Mono master (4.9+)"
Please provide a succinct description of the issue.

Build error when compiling with Mono 4.9

#### Repro steps

Provide the steps required to reproduce the problem

1. Install Mono 4.9 https://bosstoragemirror.blob.core.windows.net/wrench/mono-master/c1/c1c09bc78d33dda29a4e53aa833f8ed09bbadaf2/MonoFramework-MDK-4.9.4.26.macos10.xamarin.universal.pkg

2. Build this repo
[code]
#### Expected behavi

[2017-03-21 13:17] nosami commented on #685
Running this line in isolation
[code]

gives

[code]

and can be worked around with the following patch

[code]

Then there are more errors in scriptlib.fsx. FSI can't evaluate these two types

[code]

[2017-03-21 13:21] nosami commented on #685
I created a test script as follows

[code]

Then evaluated it with both mono 4.8.0.495 (stable) and mono 4.9.3.24 with emit logging switched on. The results are as follows

Mono 4.8
[code]

Mono 4.9

[code]

[2017-03-21 13:23] nosami commented on #685
It looks to me like this is where it fails, the line that should come after `ilg1871811982.Emit(OpCodes.Ldstr,"@%+0.8A")` ?

[code]

[2017-03-21 14:03] nosami commented on #685
MONO_LOG_LEVEL=debug mono ./Release/net40/bin/fsi.exe ~/src/fsharpbugs/fsharpbug.fsx

[code]

[2017-03-21 14:08] nosami commented on #685
Looks like `System.Reflection.Emit.ModuleBuilder:getUSIndex` is missing

[2017-03-21 22:43] dsyme commented on #684
We have to fix this one :)

[2017-03-21 23:31] enricosada commented on #684
I'll merge my single commit from vf# repo, and do another package refresh.

[2017-03-21 23:32] enricosada commented on #684
And add some smoke test, because now are easy:

- install .net core sdk 1.0
- `dotnet new console -lang f#`

and for both `dotnet`, `msbuild`, and `mono msbuild`
- `restore` with new packages
- `build`
- `run`

so like that will be ok a smoke test

[2017-03-24 19:04] lambdageek commented on #685
Looks like the problem is due to this commit to Mono https://github.com/mono/mono/commit/efd53c8e2f1823568309a2920091b724be0feff8: Mono's internal `System.Reflection.Emit.MonoGenericClass` was renamed to `System.Reflection.Emit.TypeBuilderInstantiation`

That broke the workaround in https://github.com/fsharp/fsharp/blob/5a942daf930d7023c78f578ec6876b86a6f13f1e/src/absil/ilreflect.fs#L619-L623 .

T

[2017-03-26 21:27] nosami commented on #685
@lambdageek : A problem here is that `mono packages/FSharp.Compiler.Tools.4.0.1.21/tools/fsi.exe --exec` is used as part of the bootstrapping process, but this version of fsi / Mono 4.9.3 has the same bug.

[2017-03-27 09:12] nosami commented on #685
With the suggested fix in ilreflect.fs, there is a new error :(

[code]

[2017-03-27 10:41] nosami commented on #685
There seems to be one issue left with `failwithf`
[code]

[2017-03-27 14:26] #685 closed

[2017-03-28 11:19] nosami commented on #508
You might also consider using [rlwrap](https://github.com/hanslub42/rlwrap). I've used it before with REPLs that don't have native readline bindings.

[2017-03-28 11:50] dsyme commented on #684
Fixed, thanks

[2017-03-28 11:50] #684 closed

[2017-03-28 15:10] dsyme commented on #671
@hsorbo Thanks for this report

I think it is because an "API" assembly is being used instead of the actual runtime assembly. A fix was made in the latest F# in this area.  If you get a chance to try out master that would be great.

[2017-03-28 15:40] haf commented on #674
Sorry, I'm out of context for this issue by now. Closing.

[2017-03-28 15:40] #674 closed

[2017-03-29 18:41] dsyme commented on #678
THis is an issue for http://github.com/fsharp/fsfoundation

[2017-03-29 18:41] #678 closed

[2017-03-29 18:42] dsyme commented on #654
@haf could you check this is fixed by tag 4.1.5 please? thanks

[2017-03-29 18:42] #654 closed

[2017-03-29 18:43] dsyme commented on #594
@haf Could you check this is fixed by 4.1.5 please? thanks

[2017-03-29 18:44] dsyme commented on #616
Closing as external

[2017-03-29 18:44] #616 closed

[2017-03-30 08:18] haf commented on #654
How do I test it?

[2017-03-30 08:58] dsyme commented on #654
@rmunn could you check this is fixed by tag 4.1.5 please? thanks

[2017-03-30 11:01] ismail commented on #654
@dsyme Confirmed fixed on openSUSE, thanks!

[2017-03-30 13:53] dsyme commented on #654
@ismail lovely, thank you!

[2017-03-30 15:39] LaurentTreguier opened #699 "Dependency problem with an RPM package"
Hello there, not so long ago I started making a specfile to build fsharp RPM packages for Fedora on [Copr](https://copr.fedorainfracloud.org/coprs/tcg/devel/packages/). Up until recently it seemed to work well, however starting with version 4.1.5 there is a weird problem with dependencies.
As you may or may not know, RPM can automatically detect package dependencies, as well as what a package prov

[2017-03-30 16:15] dsyme commented on #699
@LaurentTreguier It looks like the RPM packages are actually looking at .NET DLL dependencies, not NuGet package dependencies

I'm trying to work out where the danglnig dependency on ``System.Collections.Immutable`` 1.2.0.0 is coming from.  Maybe we need to add a binding redirect for this case, or auto-generate them.

[2017-03-30 16:23] dsyme commented on #699
@LaurentTreguier OK, the problem is that System.Reflection.Metadata has a reference to that.  We need a binding redirect - I'm hopeful that the RPM packaging machinery will then do the right thing (this is my first experience of it)

[2017-03-30 16:32] LaurentTreguier commented on #699
Thanks for the very fast response!
I have no idea how the package could be added to fsharp.org however.

[2017-03-30 16:39] dsyme commented on #699
@LaurentTreguier Fix is in 4.1.7. Please post back an update about whether this fixes the issue? Thanks

[2017-03-30 17:17] dsyme commented on #699
I _think_ this is fixed, so will close it, but please reopen if not

[2017-03-30 17:18] dsyme commented on #594
We believe this has been fixed, please verify if you get the chance

[2017-03-30 17:18] #594 closed

[2017-03-30 17:18] #622 closed

[2017-03-30 17:19] #475 closed

[2017-03-30 17:20] dsyme commented on #113
Closing in favour of #307

[2017-03-30 17:20] #113 closed

[2017-03-30 17:20] #520 closed

[2017-03-30 17:21] dsyme commented on #251
Closing in favour of #307

[2017-03-30 17:21] #251 closed

[2017-03-30 17:21] #483 closed

[2017-03-30 17:22] dsyme commented on #640
Closing as external

[2017-03-30 17:22] #640 closed

[2017-03-30 17:28] dsyme commented on #438
I'm closing this because the issue is so old.  Please just submit a PR to make this work if you need it

[2017-03-30 17:28] #438 closed

[2017-03-30 18:53] LaurentTreguier commented on #699
@dsyme Unfortunately it looks like the problem is still there in 4.1.7... Also, I can't reopen the issue. Is it because you, as a contributor, closed it ?

[2017-03-31 00:10] dsyme commented on #699
@LaurentTreguier Well, I think the issue is harmless, in the sense that F# will continue to work.  But I suspect this is a bug in the tool that is computing the dependencies - as far as I can tell nothing in the F# package now requires that version of the DLL

It's odd because I would have thought such a tool would know about binding redirects, they are very common in .NET/Mono

[2017-03-31 00:11] dsyme commented on #699
check
- Does ``fsharpi`` run?
` Does ``fsharpc`` run on a small test input file, e.g. one containing ``printfn "hello %d" 42``, and then does the output exe run?

[2017-03-31 04:29] rmunn commented on #654
@dsyme And I can confirm that tag 4.1.5 fixes the bug on Linux Mint 18 (which is based on Ubuntu 16.04). I still can't build the visualfsharp repo for the reasons I mentioned in https://github.com/Microsoft/visualfsharp/pull/2582#issuecomment-287004676, but I've been able to build this repo and the fix is working here.

[2017-03-31 07:03] LaurentTreguier commented on #699
@dsyme both `fsharpi` and `fsharpc` run correctly. I'll try to figure out how RPM gets its automatic dependencies and see if that' where the problem comes from.
For now I guess I'll just roll RPMs using `Provides: mono(System.Collections.Immutable) = 1.2.0.0`

[2017-03-31 07:30] nosami opened #702 "Mono 5.0.0.28 / F# 4.1.5 scripting woes"
When evaluating this script on Mono 5.0.0.28  / F# 4.1.5

[code]

I hit a Stack Overflow in Mono.

[code]

[2017-03-31 08:06] nosami commented on #702
I don't think it helps, but I got a larger stack trace

[code]

[2017-03-31 10:47] LaurentTreguier commented on #699
@dsyme apparently the RPM module that detects dependencies for all things mono related uses `monodis --assemblyref`. I tried using it on every compiled assembly and found out that after compiling fsharp, `Release/net40/bin/System.Reflection.Metadata.dll` depends on `System.Collections.Immutable` at version 1.2.0.0.

[2017-03-31 11:20] dsyme commented on #702
Yeah looks like a bug in Mono reflection emit

You can often work around these by placing more code into functions (so less code ends up in the static initializer code emitted)

[2017-03-31 11:27] nosami commented on #702
I put all the code inside a function and get the same result

[code]

[2017-03-31 11:27] dsyme commented on #699
@LaurentTreguier Yes, that technique is incorrect.  A .NET component will commonly depend on a prior version of dependency, but have that resolved courtesy of a config file at startup, like [this one](https://github.com/fsharp/fsharp/blob/master/src/fsharp/Fsc/fsc.exe.config).

This will become more and more common since the amount of componentization in .NET is rapidly increasing.

[2017-03-31 11:44] nosami commented on #702
This isn't quite as important as I thought. It's not working in Mono 4.8 either.

[2017-03-31 11:48] 7sharp9 commented on #702
Let me guess it also works as a full app?

[2017-03-31 11:50] nosami commented on #702
@7sharp9 Yeah

[2017-03-31 11:50] 7sharp9 commented on #702
@nosami I think @dsyme  meant refactor the bindings into functions

[2017-03-31 11:51] 7sharp9 commented on #702
FSI code has been pretty problematic in mono for as long as I can remember.

[2017-03-31 11:52] nosami commented on #702
I'm not too bothered about this particular script - I extracted it out of a FAKE script to try and troubleshoot why that wasn't working... but I think it's just FAKE that needs to be updated to use the latest FCS

[2017-03-31 11:52] 7sharp9 commented on #702
You could probably port all the mono reflection calls to IKVM reflection emit.  This could also be useful for non .net standard 2.0 type provider support too.

[2017-03-31 13:01] nosami commented on #702
Update FAKE to use FCS 11.0.10 and tried it against FCS's build.sh script

[code]

[2017-04-01 17:20] klettier opened #704 "Code that compile but not in IDE"
Hi,

Just to let you know even if I will investigate on my side.

When I give my script file to `fsc` the compilation is working but when I evaluate it with either VS or VS code I'm getting an error.

#### Repro steps

Create a new FSharp script file and paste

[code]
#### Expected behavior

Working the same way as `fsc` does

#### Actual behavior

[code]

[2017-04-02 02:45] Fourchaux opened #705 "Spelling typos (comments in .fs{i} files - 'src' directory)"
Reading all the comments of files (.fs .fsi) present in the 'src' directory only,
I have noted down a certain number (264 - yep!) of very basic spelling typos
(like appying, bootsrap, alwauys ....).

I could make a PR with corrections of these small typos,
but my questions are : is this kind of PR problematic for you? would you accept it?

[2017-04-03 11:08] dsyme commented on #704
This is a case of the value restriction - please just either add explicit arguments to ``equalsFromOneToTen ``, or add type annotations to ``equalsFromOneToTen ``

[2017-04-03 11:09] dsyme commented on #705
@Fourchaux Yes, we would accept a PR :) Please submit to http://github.com/Microsoft/visualfsharp and we will integrate it to here.  Don't bother running tests locally if you are just changing comments - the CI testing will be enough

[2017-04-03 12:11] klettier commented on #704
Hi,

Thank you for your response but the compiler seems to handle it correctly so could you explain to me where does that limitation come from ? (fsi ?)

[2017-04-03 20:51] Fourchaux commented on #705
Thank you.

PR submitted !

[2017-04-04 04:06] #705 closed

[2017-04-06 09:39] derdanielb opened #708 "Array.init malfunction: function to generate the elements executed only once"
Hello everybody,

i observed a (possible?) malfunction when using `Array.init`.
The function to generate the elements is executed only once in total for all fields of the array.

Given:

**generateRandomPermutation**: A function that generates a random permutation of indices (0 to someGlobalArray.Length-1)

`let permutationsArray = Array.init 10 (fun _ ->  generateRandomPermutation)`

This should

[2017-04-06 10:44] nosami commented on #702
There's a potential fix for this issue in Mono https://github.com/mono/mono/pull/4651/files I need to test

[2017-04-06 11:23] rojepp commented on #708
It looks like `generateRandomPermutation` is a value, and not a function.

Functions that take no parameters take the unit `()` in F#.

[code]

Then you can do

[code]

If you'd like to encapsulate `rnd` above, you could make `generateRandomPermutation` a value that returns a function:

[code]

[2017-04-06 13:08] derdanielb commented on #708
Oooh! Thanks for pointing out the function syntax. I was not aware of this (i just started with F# yesterday).
The double brackets make my function work.
Thank you!

I guess i will close this issue now

[2017-04-06 13:08] #708 closed

[2017-04-09 08:47] rmunn commented on #654
Further confirmation: I just installed the latest `.deb` package built from the https://github.com/mono/linux-packaging-fsharp/ repo, on a machine where I had not yet done anything to fix this bug manually. In other words, the laptop that I'm typing on right now was exhibiting this bug immediately prior to installing version `4.1.6-0xamarin1+debian7b1` of the Mono-built `fsharp` package, and immed

[2017-04-10 13:28] nosami commented on #702
Update from @alexanderkyte
Alexander Kyte I am currently in the process of making the runtime handle circular references

[3:33 AM]
I'm teasing out the data dependencies in superclass-class initialization

[3:34 AM]
Just trying to avoid churning normal class init, or introducing an dependency on not changing our steps in the init for the non-typebuilder typeinfo subclasses. We have a lot of statef

[2017-04-10 14:02] hsorbo commented on #671
Seems to be working now with fsharpi bundled with mono 5.0.0.42.
Thank you!

[2017-04-10 14:02] #671 closed

[2017-04-10 14:04] nosami opened #711 "Missing symlinks on Mono"
Symlinks missing from `/Library/Frameworks/Mono.framework/Versions/5.0.0/lib/mono/4.5` on OSX
#### Repro steps

1. ./autogen.sh --prefix=/Library/Frameworks/Mono.framework/Versions/5.0.0 && make && sudo make install

#### Expected behavior

Symlinks are copied as they were in 4.8.0

[code]

#### Actual behavior

[code]

#### Known workarounds

Create symlinks manually

#### Related information

Pr

[2017-04-10 17:20] dsyme commented on #711
@nosami  What needs the symlinks?   Thanks.  I think whatever needs them should just be adjusted to lookin in ``mono/fsharp``?

[2017-04-10 17:22] nosami commented on #711
It seems related to this missing `gacutil` call https://github.com/fsharp/fsharp/blob/9bd7c2420e06c1597ef5a37b6cb6e0f8d2911b10/src/fsharp/targets.make#L51

[2017-04-10 17:24] dsyme commented on #711
I don't think anything should be expecting these to be in the GAC.  Which DLL is it looking for?

[2017-04-10 17:25] dsyme commented on #711
(Only FSharp.Core should be in the GAC, it was a mistake for the other DLLs to be there)

[2017-04-10 17:30] nosami commented on #711
I see this error from the Xamarin Studio unit tests

[code]

but this could just be because I need to reference FSharp.Core from the tests, not sure

[2017-04-10 17:34] nosami commented on #711
The tests create a document like this

[code]

[2017-04-10 17:40] gentauro commented on #702
Is this still an issue?

- https://twitter.com/genTauro42/status/683270992978931713

[2017-04-10 17:41] nosami commented on #711
[code]

The output above is what I see if I install 4.0.1.20 into Mono 5.0.0

[2017-04-10 18:09] nosami commented on #711
I'll submit a PR to replicate the above for FSharp.Core.dll/xml/sigdata/optdata

[2017-04-10 23:19] #711 closed

[2017-04-11 11:16] nosami opened #716 "FSharpi fails with message `Failed to install ctrl-c handler`"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. install fsharp/fsharp from master into Mono

2. run `fsharpi`

#### Expected behavior

[code]

#### Actual behavior

[code]

#### Known workarounds

None

#### Related information

Running `fsharpi` with Mono debug logging shows

[code]

Provide any related information

Mo

[2017-04-11 13:00] nosami commented on #716
Must have been something wrong with my local build. HEAD of master fsharp/fsharp from our build server has no issues.

[code]

[2017-04-11 13:00] #716 closed

[2017-04-11 13:07] dsyme commented on #702
@nosami  @alexanderkyte Any updates on this?  Thanks!

[2017-04-11 13:12] nosami commented on #702
@dsyme I'll answer on @alexanderkyte's behalf :)

[code]

Hopefully it will be better than ever - It didn't seem as if recursive types were ever handled fully.

[2017-04-11 13:13] dsyme commented on #702
Yes, I understand, it's a tricky area to get right (in both compiler and runtime)

[2017-04-12 11:47] gentauro opened #717 "Type Alias/Abbreviation working correctly (generics)?"
**Please provide a succinct description of the issue.**

I have created the following generic `Type Alias/Abbreviation` to add the `Foo` alias to a generic type.

I have also added a `foo` function that can be called with an argument of a generic type that will be marked with the defined type `Foo` (it's like the identity function, but changes the values type signature). See `foo` and `bar`. This

[2017-04-12 23:37] dsyme commented on #717
@gentauro This would go to Microsoft/visualfsharp

But TBH we would close this as "by design" - the types ``'a`` and ``'a Foo`` are equivalent, and we don't guarantee which will be shown to the user

[2017-04-12 23:37] #717 closed

[2017-04-13 20:12] nosami commented on #702
[This PR](https://github.com/mono/mono/pull/4681) fixes things for me locally.

Many thanks to @alexanderkyte for persevering with this. I can even run scripts that didn't run on Mono 4.8.0

[2017-04-14 13:53] haf commented on #594
Not fixed for normal developers yet.
<img width="667" alt="screen shot 2017-04-14 at 15 52 41" src="https://cloud.githubusercontent.com/assets/193115/25045053/6f942282-212a-11e7-8735-af8e0265794e.png">

[2017-04-14 14:36] rmunn commented on #594
@haf - I just looked at the Homebrew source, and [their mono bundle](https://github.com/Homebrew/homebrew-core/blob/17faa222be03844589326dc3f54d60103f4b1e31/Formula/mono.rb) is pulling F# tag `4.1.0.2`:

[code]

So the fix for your issue is to [tell Homebrew they need to update their Mono recipe](https://github.com/Homebrew/homebrew-core/issues).

[2017-04-14 16:18] dsyme commented on #594
@rmunn @haf Thanks, please submit the PR to homebrew?

[2017-04-14 18:03] rmunn commented on #594
I don't own a Mac so I wouldn't be able to test the PR, so I should probably leave this one to @haf.

[2017-04-14 18:12] rmunn commented on #594
Actually, there's already a PR on Homebrew that would pull in the latest version of F#: https://github.com/Homebrew/homebrew-core/pull/12364

It's currently failing with the following build error:

[code]

(Full log available [here](https://bot.brew.sh/job/Homebrew/job/homebrew-core/job/PR-12364/3/console))

I won't be able to fix this one since as I mentioned I don't own a Mac, and so I'll have t

[2017-04-15 16:28] neutric commented on #594
I was the one who opened that PR to upgrade to the latest version of F# (and Mono), however it currently fails as mentioned one comment above. I am not familiar with either F# or Mono, though. The `osx` build job on https://travis-ci.org/fsharp/fsharp/branches unfortunately fails for 4.1.10+ due to download problems, and older versions weren't tested against mono 4.8.1, so I have no idea whether t

[2017-04-18 14:41] dsyme commented on #594
@neutric Hmm... I looked at the homebrew PR but couldn't see the build log where the error was occurring.  Could you send a link?

BTW this osx master build passed on travis: https://travis-ci.org/fsharp/fsharp/jobs/221551455 if that helps

[2017-04-18 14:42] dsyme commented on #702
@nosami That's fantastic, great to know!

[2017-04-18 16:06] haf commented on #594
@dsyme I would prefer not to be asked to support the F# compiler, its compilation or its distribution. I'm in programming for the fun of it; the creativity, the unexplored vistas, the ability to make a change in the world. My contract with a compiler and its surrounding tooling is that it should just work and if it doesn't work often enough for me, I'm going to switch language. For example, you ca

[2017-04-18 16:19] nosami commented on #594
fwiw, this is working in Mono 5.0.0.53 (which is still unreleased and contains F# 4.1.5)

[code]

For anyone wanting fsharp 4.1.5 now, the following should work

[code]

[2017-04-18 17:13] nosami commented on #702
Fixed in Mono 5.0.0.66

[2017-04-18 17:13] #702 closed

[2017-04-18 22:07] dsyme commented on #594
@nosami Thanks for confirming the fix

@haf That's fine - we should have tested the fix - thanks for reporting it.  I was confident of the fix after looking at it. But localization issues are tricky (different OS, locale, keyboards etc.) and it's reassuring to see them validated on end-user machines if possible.

[2017-04-18 22:15] dsyme commented on #594
@haf You've historically owned the [fsharp docker image repo](https://github.com/fsprojects/docker-fsharp).  Do you want to transfer ownership of that?

I've been [documenting the list of tagged packagings of F#](https://github.com/fsharp/fsharp/blob/master/README.md).  With good documentation we can probably update these delivery channels more consistently.

[2017-04-19 05:19] neutric commented on #594
@dsyme Build log as [gist](https://gist.githubusercontent.com/neutric/6b3792dbc59885cf5b8f66e53d50b5ad/raw/b54a18c3da92a5cf27f2d50a64792bf8e4d87660/build.log).

[2017-04-19 16:22] dsyme commented on #594
@neutric I think some sort of parallel build/make must be enabled for that build that isn't enabled by our travis macOS build.  The build exposes an inaccurate dependency declaration in the makefiles

In any case I've submitted a tentative fix here https://github.com/fsharp/fsharp/pull/724.  It's possible similar problems will be revealed at the next step.  What's the process for progressively tes

[2017-04-19 16:22] dsyme commented on #594
@neutric I'll start a new issue about this

[2017-04-19 16:24] dsyme opened #725 "build failing when updating brew build of F#"
The Homebrew version for F# needs to be updated, see

https://github.com/fsharp/fsharp/issues/594#issuecomment-294164516

[code]

[code]

Failing build log here: https://gist.githubusercontent.com/neutric/6b3792dbc59885cf5b8f66e53d50b5ad/raw/b54a18c3da92a5cf27f2d50a64792bf8e4d87660/build.log

[2017-04-19 16:24] dsyme commented on #594
See https://github.com/fsharp/fsharp/issues/725

[2017-04-19 16:26] dsyme commented on #725
cc @neutric @rmunn @nosami

[2017-04-19 17:09] #725 closed

[2017-04-19 17:26] neutric commented on #594
@dsyme We indeed do parallel builds by default, can disable that selectively though if needed. I can point the "formula" to a specific commit for testing, it doesn't have to be committed to master. I'll do so with the patch from #724 once I see all is good in your CI.

[2017-04-20 01:34] brianberns opened #728 "Installing FSharp.Core via NuGet adds unwanted files to project"
#### Repro steps

1. Create an F# project
2. Use NuGet to install FSharp.Core v4.1.12

#### Expected behavior

FSharp.Core files are added only under `packages` directory.

#### Actual behavior

The following FSharp.Core files are added to the project's source code directory and appear in the Solution Explorer.

- any/netstandard1.6/FSharp.Core.sigdata
- any/netstandard1.6/FSharp.Core.optdata

###

[2017-04-20 06:58] neutric commented on #594
@haf Mono via Homebrew now ships F# 4.1.13, so your issue should be resolved.

[2017-04-20 11:21] dsyme commented on #728
See https://github.com/fsharp/fsharp/pull/723 and discussion linked there

[2017-04-20 17:50] klettier commented on #702
Hello,

Mono 5.0.0.66 ?
The latest release I managed to get is [5.0.0.61](https://github.com/mono/mono/releases/tag/mono-5.0.0.61)

I reproduced the same type of issue with that code

[code]

[code]

@nosami Do you have more information for me ?

[2017-04-20 17:58] nosami commented on #702
@klettier : You can either build mono from master, or wait. I'm in the process of asking Xamarin release engineering for a link I can distribute :)

[2017-04-20 19:03] nosami commented on #702
@klettier Here you go - https://dl.xamarin.com/MonoFrameworkMDK/Macx86/MonoFramework-MDK-5.0.0.72.macos10.xamarin.universal.pkg

[2017-04-20 19:34] klettier commented on #702
@nosami Thanks but I'm on Ubuntu :(

[2017-04-21 09:17] nosami commented on #702
@klettier: I've been informed that there should be a new Mono alpha release on Monday or Tuesday next week.

[2017-04-25 16:19] enricosada commented on #699
I probably fixed it with https://github.com/fsharp/fsharp/pull/732

Now the nupkg bundle `System.Collections.Immutable` 1.2.0.0 and all `tools` assemblies reference 1.2.0.0.
The binding redirect was pointing to 1.2.1.0, but i remove that with the referenced PR

[2017-04-25 17:03] LaurentTreguier commented on #699
@enricosada this indeed seems to fix the issue; at least when building the package from mater it's gone 🎉

[2017-04-25 18:13] enricosada commented on #699
good.

i am trying to upload package `4.1.15` to nuget, i'll close when done

[2017-04-25 18:27] enricosada commented on #699
Ok done with https://www.nuget.org/packages/FSharp.Compiler.Tools/4.1.15.

[2017-04-25 18:27] #699 closed

[2017-04-29 10:02] dsyme commented on #728
This is fixed with latest FSharp.Core 4.1.17 package

[2017-04-29 10:02] #728 closed

[2017-04-29 10:02] dsyme commented on #651
@nosami If you get a chance could you see if this is fixed by Mono 5.0.0 on macOS?

[2017-04-29 10:03] dsyme commented on #507
Closing as we will add the testing first in the Microsoft/visualfsharp repo

[2017-04-29 10:03] #507 closed

[2017-04-29 10:16] dsyme commented on #617
I'm going to close this as external

@hasufell If you could submit a PR adding the information to the README.md, that would be great.

[2017-04-29 10:16] #617 closed

[2017-04-29 11:04] dsyme commented on #555
Fixed by https://github.com/Microsoft/visualfsharp/pull/2950

[2017-04-29 11:05] #555 closed

[2017-04-29 11:07] dsyme commented on #638
@joelverhagen The nuget issue you mentioned about is now closed and fixed.  So is it now possible to set the executable bit - or does it get done automatically/  What happens if you're building a nuget package on Windows - is it possible to set the executable bit for when the package is unzipped on linux?  thanks

[2017-04-29 13:06] dsyme commented on #638
The fix [here](https://github.com/Microsoft/visualfsharp/pull/2950) has been integrated

[2017-04-29 13:07] dsyme commented on #562
Closing this as wont-fix

A workaround is to use ``msbuild`` on Linux (``xbuild`` is basically being deprecated slowly).

[2017-04-29 13:07] #562 closed

[2017-04-29 13:18] matthid commented on #638
@dsyme yeah packaging on windows is still a problem.
Best is probably if nuget would support settings an executable flag in the nuspec and than properly saving that in the zip (http://stackoverflow.com/a/13633772/1269722). Paket probably needs to support that as well.

As a workaround for now we can try to edit the zip to have the required info. Would be interesting to see if nuget/paket properly

[2017-04-30 15:40] enricosada opened #737 "FSharp.Compiler.Tools should choose bundled .net core runtime for fsc"
A .net core sdk can bundle different .net core runtimes, so fsc must run with the runtime bundled with sdk.
It doesnt matter for mono/.net (yet) because we expect `net40` to beenough to run fsc.exe.

With .net core sdk 1.0, both runtimes (1.0 and 1.1) are bundled, but in some os just 1.1 is bundled (because FCT package just embedd `netcoreapp1.0`, it doesnt work for some os, ref https://github.com

[2017-05-01 15:04] eerhardt commented on #737
How does `fsc` get invoked?  Is it through a CLI tool?  Or is it some other mechanism?

I think using `BundledNETCoreAppTargetFrameworkVersion` should be fine - this is pretty much what this property was designed to do - figure out the runtime that came with the SDK and is guaranteed to be there.

BTW - in 2.0, `DotnetCliToolTargetFramework` gets defaulted from `BundledNETCoreAppTargetFrameworkVer

[2017-05-01 15:08] enricosada commented on #737
@eerhardt fsc is published as FDD console app, and bundled inside package, so in `build/netcoreapp1.0` for 1.0, in `tools` for net40 (backward compatibilkity otherwise was in `build/net40`).
And we use msbuild props to default the right fsc to use.

yes, i think too `BundledNETCoreAppTargetFrameworkVersion` is enough, i just want to know if here to stay for long term :D

[2017-05-01 15:55] eerhardt commented on #737
But how is it invoked?

Where is the `dotnet` host retrieved from?
What are the arguments passed in?  Do you say `dotnet fsc` or do you say `dotnet /path/to/fsc.dll`?

[2017-05-01 16:50] enricosada commented on #737
the `dotnet` (for `dotnet /path/to/fsc.dll` ) is resolved as relative from Sdks [here](https://github.com/dotnet/netcorecli-fsc/blob/master/src/FSharp.NET.Sdk/build/FSharp.NET.Core.Sdk.targets#L154) as

[code]

for msbuild and mono, we just `/path/to/fsc.exe` and `mono /path/to/fsc.exe` so `dotnet` doesnt matter, we use fsc built for .net framework.

@eerhardt i already added https://github.com/Mi